<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/template}">
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row">
			<div id="mainBannerCarousel" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
				    <li data-target="#mainBannerCarousel" data-slide-to="0" class="active"></li>
				    <li data-target="#mainBannerCarousel" data-slide-to="1"></li>
				    <li data-target="#mainBannerCarousel" data-slide-to="2"></li>
			  	</ol>
			  	<div class="carousel-inner">
				    <div class="carousel-item active">
				    	<img class="d-block w-100"
					    	title="Купить смарт-часы в Минске"
					    	alt="Купить смарт-часы в Минске"
					   		src="https://static-eu.insales.ru/files/1/6748/4119132/original/Рисунок1-min.png">
				    </div>
				    <div class="carousel-item">
				    	<img class="d-block w-100"
					    	title="Купить смарт-часы в Минске"
					    	alt="Купить смарт-часы в Минске"
					   		src="https://static-eu.insales.ru/files/1/6808/4119192/original/Рисунок2-min.png">
				    </div>
				     <div class="carousel-item">
				    	<img class="d-block w-100"
					    	title="Лучшие умные часы в Минске"
					    	alt="Лучшие умные часы в Минске"
					   		src="https://static-eu.insales.ru/files/1/6838/4119222/original/Рисунок4-min.png">
				    </div>
				</div>
				<a class="carousel-control-prev" href="#mainBannerCarousel" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    	<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#mainBannerCarousel" role="button" data-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				</a>
			</div>
			</div>
			
			<div class="row app-info jumbotron">
        		<div class="container">
					<div class="row">
						<div class="benefit col-md-4">
							<div class="benefit-inner">
								<div class="benefit-image">
						            <img src="https://static-eu.insales.ru/files/1/4867/4002563/original/benefit3.png"
						            	title="Выгодные акции и бонусы"
						            	alt="Выгодные акции и бонусы"/>
				            	</div>
								<div class="small benefit-title font-weight-bold">ВЫГОДНЫЕ АКЦИИ И БОНУСЫ</div>
							</div>
						</div>
						<div class="benefit col-md-4">
							<div class="benefit-inner">
								<div class="benefit-image">
									<img class="img-fluid float-left"
						            	src="https://static-eu.insales.ru/files/1/6300/4126876/original/mark-27098_640.png"
						            	title="Гарантии качества продукции"
						            	alt="Гарантии качества продукции"/>
				            	</div>
								<div class="small benefit-title font-weight-bold">ГАРАНТИЯ КАЧЕСТВА ПРОДУКЦИИ</div>
							</div>
						</div>
						<div class="benefit col-md-4">
							<div class="benefit-inner">
								<div class="benefit-image">
									<img class="img-fluid float-left"
						            	src="https://static-eu.insales.ru/files/1/4864/4002560/original/benefit1.png"
						            	title="Быстрая доставка до двери"
						            	alt="Быстрая доставка до двери"/>
					            </div>
								<div class="small benefit-title font-weight-bold">БЫСТРАЯ ДОСТАВКА ДО ДВЕРИ</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<h2 class="font-weight-bold">Интернет-магазин "[[${shopName}]]"</h2>
				<p>Мы рады предложить Вам качественные товары с подробными описаниями, характеристиками и фотографиями.</p>
				<p>Мы доставим Ваш заказ в любой уголок Беларуси , осуществим подробную консультацию по товарам и поможем с выбором.</p>	
				<p>Магазин "[[${shopName}]]" ([[${shopNameAlt}]]) предлагает Вам купить качественные смарт-часы с доставкой! Все виды современных моделей от эконом класса до более дорогих представлены в нашем каталоге.</p>	
				<fieldset>
					<legend class="font-weight-bold">Наши главные преимущества:</legend>
					<ul>
						<li>Низкие цены от производителей</li>
						<li>Доставка по Минску в день заказа</li>
						<li>Доставка заказов Службой доставки по всей Стране за 1-3 дня</li>
						<li>Только оригинальная и соответствующая требованиям продукция</li>
						<li>Гарантия на все товары</li>
						<li>Бонусы и скидки для постоянных покупателей</li>
					</ul>
				</fieldset>
			</div>
			
			<div class="row justify-content-center">
				<div class="col-12 text-center">
					<span class="font-weight-bold">ИНФОРМАЦИЯ О ЗАКАЗЕ И ДОСТАВКЕ ТОВАРОВ:</span>
				</div>
			    <div class="col-6 col-md-3 text-center">
			    	<img class="d-block mx-auto w-50"
					    	title="Прием заказов на умные часы в Минске"
					    	alt="Прием заказов на умные часы в Минске"
					   		src="https://static-eu.insales.ru/files/1/2024/4245480/original/check-2160904_640-min.png">
			    	<span class="d-block font-weight-bold">ПРИЕМ ЗАКАЗОВ:</span>
			    	<span class="d-block">через корзину - круглосуточно</span>
			    	<span class="d-block">по телефону - с 9:00 до 21:00</span>
			    </div>
			    <div class="col-6 col-md-3 text-center">
			    	<img class="d-block mx-auto w-50"
					    	title="Доставка смарт-часов по всей Беларуси"
					    	alt="Доставка смарт-часов по всей Беларуси"
					   		src="https://static-eu.insales.ru/files/1/2005/4245461/original/label-2160913_640-min.png">
			    	<span class="d-block font-weight-bold">РЕГИОНЫ ДОСТАВКИ:</span>
			    	<span class="d-block">вся Беларусь</span>
			    	<span class="d-block">курьер или почта</span>
			    </div>
			    <div class="col-6 col-md-3 text-center">
			    	<img class="d-block mx-auto w-50"
					    	title="Магазин smart-watch без выходных"
					    	alt="Магазин smart-watch без выходных"
					   		src="https://static-eu.insales.ru/files/1/2025/4245481/original/gear-2160908_640-min.png">
			    	<span class="d-block font-weight-bold">ОБРАБОТКА ЗАКАЗОВ:</span>
			    	<span class="d-block">ежедневно</span>
			    	<span class="d-block">с 09:00 до 21:00</span>
			    </div>
			   <div class="col-6 col-md-3 text-center">
			    	<img class="d-block mx-auto w-50"
					    	title="Ежедневная доставка смарт-часов по Минску и Беларуси"
					    	alt="Ежедневная доставка смарт-часов по Минску и Беларуси"
					   		src="https://static-eu.insales.ru/files/1/2026/4245482/original/clock-2244773_640-min.png">
			    	<span class="d-block font-weight-bold">ВРЕМЯ ДОСТАВКИ:</span>
			    	<span class="d-block">ежедневно</span>
			    	<span class="d-block">с 10:00 до 22:00</span>
			    </div>
			    <div class="col-6 col-md-3">
			      1 of 4
			    </div>
			    <div class="col-6 col-md-3">
			      2 of 4
			    </div>
			    <div class="col-6 col-md-3">
			      3 of 4
			    </div>
			    <div class="col-6 col-md-3">
			      4 of 4
			    </div>
			  </div>
		</div>
	</div>
</body>
</html>