<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/template}">
<head>
<title th:text="${product.title}">Product title</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-5">
				<div class="card">
					<div class="h5 text-right">
						<span th:each="label : ${product.labels}"  th:text="${label.key}"
							class="product-label badge" th:classappend="|badge-${label.value.value}|">Label</span>
					</div>
					<div id="productCarouselIndicators" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
						    <li data-target="#productCarouselIndicators" data-slide-to="0" class="active"></li>
					  	</ol>
					  	<div class="carousel-inner">
						    <div class="carousel-item active">
						    	<img class="d-block w-100" th:title="${product.title}" th:alt="${product.title}"
						    		th:src="${product.mainImage} ? @{|${@environment.getProperty('url.products-images')}/${product.id}/${product.mainImage}/${product.article}|} : ${@environment.getProperty('url.no-image')}">
						    </div>
						</div>
						<a class="carousel-control-prev" href="#productCarouselIndicators" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    	<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#productCarouselIndicators" role="button" data-slide="next">
						    <span class="carousel-control-next-icon" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<h1 th:text="${product.title}">Title</h1>
				<div>
					<h6 th:text="|#{msg.common.productArticle}: ${product.article}|">Article</h6>
				</div>
				<p class="text-justify" th:text="${product.description}">Description</p>
				<form id="addToCartForm" th:action="${@environment.getProperty('url.product-form')}" method="POST">
					<div class="row">
						<div th:each="ov : ${product.optionValues}" class="form-group col-md-4">
					    	<label th:for="${ov.key}" th:text="${ov.key}">Option name</label>
					   		<select th:data-option-name="${ov.key}" class="product-option form-control">
					   			<option th:each="v : ${ov.value}" th:value="${v.key}" th:text="${v.value}">Option value</option>
					      	</select>
				      	</div>
					</div>
					<div class="row">
						<th:block th:if="${product.actualPrice}">
							<div class="col-md-6">
								<div class="h5 alert alert-danger">
									<span>[[#{msg.common.priceAction}]]: [[${product.actualPrice}]] [[#{|msg.currency.${appInfo.currency}|}]]</span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="h6 alert alert-secondary">
									<span>[[#{msg.common.priceOld}]]: <del>[[${product.price}]] [[#{|msg.currency.${appInfo.currency}|}]]</del></span>
								</div>
							</div>
						</th:block>
						<th:block th:unless="${product.actualPrice}">
							<div class="col-md-12">
								<div class="alert alert-danger">
									<span>[[#{msg.common.price}]]: [[${product.price}]] [[#{|msg.currency.${appInfo.currency}|}]]</span>
								</div>
							</div>
					 	</th:block>
					 	<div class="col-xs-6 col-md-6 col-lg-6">
					 		<button id="addToCartButton" type="button" class="btn btn-danger btn-block">
					 			<span class="fa fa-cart-plus fa-lg"></span>
					 			<span th:text="#{msg.common.addToCart}">Add to cart</span>
					 		</button>
					 	</div>
					 	<div class="col-xs-6 col-md-6 col-lg-6">
					 		<button id="singleClickBuyButton" type="button" class="btn btn-success btn-block">
					 			<span class="fa fa-cart-arrow-down fa-lg"></span>
					 			<span th:text="#{msg.common.singleClickBuy}">Single click buy</span>
					 		</button>
					 	</div>
					</div>
				</form>
			</div>
		</div>
		
		<div class="modal fade" id="addToCartSuccessModal" tabindex="-1" role="dialog" aria-labelledby="addToCartSuccessCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header alert alert-success">
		        		<h5 class="modal-title" id="addToCartSuccessCenterTitle" th:text="#{msg.common.productHasBeenAddedToCart}">
		        			Product has been added
		        		</h5>
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          			<span aria-hidden="true">&times;</span>
		        		</button>
		      		</div>
					<div class="modal-body">
				    	<div id="capturedProductInfo" class="row">
				    		<div class="col-md-12">
				       			<strong>[[#{msg.common.title}]]:</strong> <span class="captured-product-title">DZ09</span>
				       		</div>
				       		<div class="col-md-12">
				       			<strong>[[#{msg.common.article}]]:</strong> <span class="captured-product-article">DZ09</span>
				       		</div>
				       		<div class="col-md-12">
				       			<strong>[[#{msg.common.price}]]:</strong> <span class="captured-product-price">129</span> [[#{|msg.currency.${appInfo.currency}|}]]
				       		</div>
				    	</div>
					</div>
					<div class="modal-footer">
						<div class="container col-md-12">
	                		<div class="row">
								<div class="col-xs-12 col-md-6">
					        		<a th:href="${@environment.getProperty('url.cart')}" class="btn btn-success btn-block" th:text="#{msg.common.goToCart}">
					        			Go to cart
					        		</a>
				        		</div>
					        	<div class="col-xs-12 col-md-6">
					        		<button type="button" class="btn btn-secondary btn-block" data-dismiss="modal" th:text="#{msg.common.continueShopping}">
					        			Continue
					        		</button>
				        		</div>
				        	</div>
				        </div>
			      	</div>
		    	</div>
		  	</div>
		</div>
		
	</div>
	<th:block layout:fragment="page_scripts">
		<script th:inline="javascript">
			/*<![CDATA[*/
			var product = /*[[${product}]]*/ null;
			/*]]>*/
		</script>
		<script>
			function isProductMatch(optionName, optionValue) {
				var isMatched = false;
				$('select[data-option-name]').each(function() {
					if (optionName == $(this).data('option-name') && optionValue == $(this).find('option:selected').val()) {
						isMatched = true;
						return false;
					}
				});
				return isMatched;
			}
			
			function addToCard() {
				var productToAdd;
				for (productId in product.productOptions) {
				    for (optionSetIndex in product.productOptions[productId]) {
				    	if (isProductMatch(product.productOptions[productId][optionSetIndex]['key'], product.productOptions[productId][optionSetIndex]['value'])) {
				    		var productToAdd = {
									productArticleId: '[[${product.id}]]',
									productId: productId
							};
				    	}
				    }
				}
				
				$.ajax({
		        	type: 'POST',
		            contentType: 'application/json',
		            url: '[[${@environment.getProperty('url.cart.add')}]]',
		            data: JSON.stringify(productToAdd),
		            dataType: 'json',
		            cache: false,
		            success: function(capturedProduct) {
		            	var optionsTitle = '';
		            	var options = [];
		            	for (optionId in capturedProduct.options) {
		            		options.push(capturedProduct.options[optionId]['key'] + ': ' + capturedProduct.options[optionId]['value'])
		            	}
		            	if (options) {
		            		optionsTitle = ' (' + options.join('; ') + ')' 
		            	}
		            	$('#capturedProductInfo > div > .captured-product-title').text(capturedProduct.title + optionsTitle)
		            	$('#capturedProductInfo > div > .captured-product-article').text(capturedProduct.article)
		            	$('#capturedProductInfo > div > .captured-product-price').text(capturedProduct.price)
		            	$('#addToCartSuccessModal').modal("show")
		                refreshCartCount();
		            },
		            error: function(e) {
		            	showServerErrorModal();
		            }
		        });
			}
		
			$(document).ready(function() {
				$('#addToCartButton').click(function() {
					console.log('Add to cart button is clicked');
					addToCard();
					
				});
				$('#singleClickBuyButton').click(function() {
					console.log('Single click buy button is clicked');
				});
			});
		</script>
	</th:block>
</body>
</html>