<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/template-with-breadcrumb}">
<head>
<title th:text="${category} ? ${category.name} : #{msg.common.allProducts}">Catalog</title>
</head>
<body>
	<th:block layout:fragment="main-content">
		<div class="col-md-3">
			<div class="container">
				<div class="row">
					<nav th:replace="pages/products/categories-side-menu :: categories-side-menu(selectedCategory = ${selectedCategory})"></nav>
				</div>
				<div th:if="${selectedCategory}" class="row mt-2">
					<form id="filtersForm" th:action="|${@environment.getProperty('url.catalog.filter')}/${selectedCategory}|" method="GET">
						<th:block th:each="filter : ${category.filters}">
							<th:block th:replace="__${filter.template}__"></th:block>
						</th:block>
					</form>
				</div>	
			</div>
		</div>
		<div th:fragment="products" id="productList" class="col-md-9">
			<h1 th:text="${category} ? ${category.name} : #{msg.common.allProducts}"></h1>
			<div class="row card-columns">
				<div th:each="productItem : ${productList}" class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
					<div th:replace="pages/products/product-list-item :: product-list-item(product = ${productItem})">Product item</div>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="page_scripts">
		<script>
			var delayTimer;
			function doSearch(id, value) {
				clearTimeout(delayTimer);
				delayTimer = setTimeout(function() {
					console.log('Do search:', id, value);
					var form = $('#filtersForm');
				    var url = form.attr('action');
				    $.ajax({
				    	type: "GET",
				        url: url,
				        data: form.serialize(),
				        success: function(data)  {
				        	$('#productList').fadeOut('normal', function() {
				        		$(this).replaceWith(data);
				        	});
				        }
				   	});
				}, 1000);
			}
		</script>
	</th:block>
</body>
</html>