<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/template}">
<head>
<title th:text="#{msg.menu.catalog} + ' - ' + ${category.name}">Catalog</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-3">
				<nav th:replace="pages/products/categories-side-menu :: categories-side-menu(selectedCategory = ${selectedCategory})"></nav>
			</div>
			<div class="col-md-9">
				<h1 th:text="${category.name}"></h1>
				<div class="row card-columns">
					<div th:each="productItem : ${productList}" class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
						<div th:replace="pages/products/product-list-item :: product-list-item(product = ${productItem})">Product item</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>