<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<th:block th:fragment="range-filter">
		<div class="product-attribute-filter row mt-2">
			<div class="col-12">
				<strong>[[${#strings.isEmpty(#messages.msgOrNull(filter.name)) ? filter.name : #messages.msg(filter.name)}]]</strong>
			</div>
			<div class="col-6">
			    <div class="input-group input-group-sm">
			   		<div class="input-group-prepend">
						<span class="input-group-text" th:id="|${filter.id}MinLabel|">От:</span>
					</div>
			    	<input type="text" class="form-control"
			    		th:name="|from[${filter.id}]|" th:id="|from[${filter.id}]|"
			    		th:aria-describedby="|from[${filter.id}]|"
			    		th:data-mask="${filter.mask}" data-mask-reverse="true"
			    		onkeyup="doSearch(this.id, this.value)">
				</div>
			</div>
			<div class="col-6">
				<div class="input-group input-group-sm">
					<div class="input-group-prepend">
						<span class="input-group-text" th:id="|${filter.id}MaxLabel|">До:</span>
					</div>
			    	<input type="text" class="form-control"
			    		th:name="|to[${filter.id}]|" th:id="|to[${filter.id}]|"
			    		th:aria-describedby="|to[${filter.id}]|"
			    		th:data-mask="${filter.mask}" data-mask-reverse="true"
			    		onkeyup="doSearch(this.id, this.value)">
				</div>
			</div>
		</div>
	</th:block>
	
	<th:block th:fragment="list-filter">
		<div class="product-attribute-filter row mt-2">
			<div class="col-12">
				<strong>[[${#strings.isEmpty(#messages.msgOrNull(filter.name)) ? filter.name : #messages.msg(filter.name)}]]</strong>
			</div>
			<div class="product-attribute-filter-checkox col-12">
				<div th:each="attr, iter : ${filter.attributes}" class="form-check">
					<input class="form-check-input" type="checkbox"
						th:name="|${filter.id}|" th:id="|${attr}ListItem|" th:value="${attr}">
				  	<label class="form-check-label" th:for="|${attr}ListItem|">
				  		[[${attr}]]
				  	</label>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>