<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title th:text="#{msg.menu.catalog}">Catalog</title>
</head>
<body>
	<th:block th:fragment="categories-side-menu">
		<button class="btn btn-block btn-secondary btn-sm btn-side-menu"
			th:classappend="${#request.getAttribute('currentDevice').mobile ? 'collapsed' : ''}"
			type="button"
			data-toggle="collapse"
			data-target="#categoriesNav"
			th:aria-expanded="${#request.getAttribute('currentDevice').mobile}"
			aria-controls="categoriesNav">
			<span th:text="#{msg.common.categories}">Categories</span>
		</button>
		<nav id="categories-side-menu" class="content-side-menu navbar bg-dark navbar-dark">
			<div class="collapse navbar-collapse" id="categoriesNav" th:classappend="${!#request.getAttribute('currentDevice').mobile ? 'show' : ''}">
				<ul class="navbar-nav">
					<li th:each="category : ${categoryList}" class="nav-item">
						<a class="nav-link" th:classappend="${category.reference == selectedCategory} ? 'active' : ''"
							th:href="@{|${@environment.getProperty('url.catalog')}/${category.reference}|}" th:text="${category.name}">Category</a>
					</li>
				</ul>
			</div>
		</nav>
	</th:block>
</body>
</html>