<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<th:block th:fragment="product-item">
	<div class="col-12">
		<h4 class="font-weight-bold">
			<a th:href="@{|${@environment.getProperty('url.catalog')}/${product.category.reference}/${product.reference}|}">
				<span th:text="${product.title}">Product title</span>
			</a>
		</h4>
		<div class="row">
			<div class="col-12 col-sm-3 col-md-2">
				<a th:href="@{|${@environment.getProperty('url.catalog')}/${product.category.reference}/${product.reference}|}">
					<img class="d-block mx-auto w-100 p-1"
						th:title="${product.title}"
						th:alt="${product.title}"
						th:src="${product.mainImage} ? @{|${@environment.getProperty('url.images')}/${product.id}/${product.article}/${product.mainImage}|} : ${@environment.getProperty('url.no-image')}">
					</a>
			</div>
			<div class="col-12 col-sm-6 col-md-8">
				<div class="row">
		 			<div class="col-6 text-left">
		 				<div>
							<span class="font-weight-bold small mr-4">Код продукта: [[${product.article}]]</span>
						</div>
		 			</div>
		 			<div class="col-6 text-right">
		 				
		 			</div>
		 			<div class="col-12 small text-justify">
		 				<p th:utext="${product.description}">Description</p>
		 			</div>
	 			</div>
 			</div>
 			<div class="col-12 col-sm-3 col-md-2 text-center">
 				<span th:replace="components/rating :: rating(name = |product_rating_ ${product.id}|, value = ${product.rating})">Rating</span>
 				<span class="d-block small product-comments-count" th:data-value="${product.commentsCount}">Comments count</span>
 				<button id="addToCartButton" type="button" onclick="addToCard()" class="btn btn-success btn-block mt-2">
		 			<span class="small">В корзину</span>
		 		</button>
 			</div>
 			<div class="col-12">
 				<hr/>
 			</div>
 		</div>
	</div>
</th:block>
</body>
</html>