<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div class="container" th:fragment="product-item">
	<div class="row">
		<div class="col-12 col-sm-9 col-md-10">
			<h3 class="font-weight-bold">
				<span class="d-none">Купить </span>
				<a th:href="@{|${@environment.getProperty('url.catalog')}/${product.category.reference}/${product.reference}|}">
					<span th:text="${product.title}">Product title</span>
				</a>
				<span th:each="label : ${product.labels}"  th:text="${label.key}"
					class="product-label badge" th:classappend="|badge-${label.value.value}|">Label</span>
			</h3>
			<div class="row">
				<div class="col-12 col-sm-4 col-md-3">
					<a th:href="@{|${@environment.getProperty('url.catalog')}/${product.category.reference}/${product.reference}|}">
						<img class="d-block mx-auto w-100 "
							th:title="${product.title}"
							th:alt="${product.title}"
							th:src="${product.mainImage} ? @{|${@environment.getProperty('url.images')}/${product.id}/${product.article}/${product.mainImage}|} : ${@environment.getProperty('url.no-image')}">
						</a>
				</div>
				<div class="col-12 col-sm-8 col-md-9">
					<div class="row">
			 			<div class="col-6 text-left">
			 				<div>
								<span class="font-weight-bold small mr-4">Код продукта: [[${product.article}]]</span>
							</div>
			 			</div>
			 			<div class="col-6 text-right">
			 				
			 			</div>
			 			<div class="col-12 small text-justify">
			 				<p th:utext="${product.description}">Description</p>
			 			</div>
		 			</div>
	 			</div>	
			</div>
 		</div>
 		<div class="col-12 col-sm-3 col-md-2 text-center">
 			<th:block th:if="${product.actualPrice}">
				<div>
					<strong th:text="|${product.actualPrice} #{|msg.currency.${appInfo.currency}|}|">Product price</strong>
				</div>
				<div>
					<del class="small" th:text="|${product.price} #{|msg.currency.${appInfo.currency}|}|">Old product price</del>
				</div>
			</th:block>
			<th:block th:unless="${product.actualPrice}">
				<div>
					<strong th:text="|${product.price} #{|msg.currency.${appInfo.currency}|}|">Product price</strong>
				</div>
			</th:block>
			<span th:replace="components/rating :: rating(name = |product_rating_ ${product.id}|, value = ${product.rating})">Rating</span>
			<span class="d-block small product-comments-count" th:data-value="${product.commentsCount}">Comments count</span>
			<button id="addToCartButton" type="button" th:onclick="|addToCart(${product.id})|" class="btn btn-success btn-block mt-2">
	 			<span class="small">В корзину</span>
	 		</button>
		</div>
 		<div class="col-12">
			<hr/>
		</div>
	</div>
</div>
</body>
</html>