<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<th:block th:fragment="product-item">
	<div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
		<div th:fragment="product-list-item" class="card bg-light">
			<div class="text-right">
				<span th:each="label : ${product.labels}"  th:text="${label.key}"
					class="product-label badge" th:classappend="|badge-${label.value.value}|">Label</span>
			</div>
			<a th:href="@{|${@environment.getProperty('url.catalog')}/${product.category.reference}/${product.reference}|}">
				<img class="img-fluid" th:title="${product.title}" th:alt="${product.title}"
					th:src="${product.mainImage} ? @{|${@environment.getProperty('url.images')}/${product.id}/${product.article}/${product.mainImage}|} : ${@environment.getProperty('url.no-image')}">
			</a>
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h3 class="font-weight-bold">
							<a th:href="@{|${@environment.getProperty('url.catalog')}/${product.category.reference}/${product.reference}|}">
								<span th:text="${product.title}">Product title</span>
							</a>
						</h3>
					</div>
					<div class="col-6">
						<span th:replace="components/rating :: rating(name = |product_rating_ ${product.id}|, value = ${product.rating})">Rating</span>
						<span class="product-comments-count" th:data-value="${product.commentsCount}">Comments count</span>
					</div>
					<div class="col-6 text-right">
						<th:block th:if="${product.actualPrice}">
							<div>
								<strong th:text="|${product.actualPrice} #{|msg.currency.${appInfo.currency}|}|">Product price</strong>
							</div>
							<div>
								<del class="small" th:text="|${product.price} #{|msg.currency.${appInfo.currency}|}|">Old product price</del>
							</div>
						</th:block>
						<th:block th:unless="${product.actualPrice}">
							<div>
								<strong th:text="|${product.price} #{|msg.currency.${appInfo.currency}|}|">Product price</strong>
							</div>
						</th:block>
					</div>
					<div class="col-12">
						<hr/>
					</div>
					<div class="col-12 text-right">
						<button id="addToCartButton" type="button" th:onclick="|addToCart('ADD_PRODUCT_ARTICLE', ${product.id})|" class="btn btn-success btn-sm mb-2">
				 			<span class="fa fa-cart-plus"></span>
				 			<span class="small">В корзину</span>
				 		</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</body>
</html>