<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<th:block th:fragment="select-product-modal">
		<div class="modal fade" id="selectProductModal" tabindex="-1" role="dialog" aria-labelledby="selectProductModalTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header alert alert-success">
		        		<span class="modal-title" id="selectProductModalTitle">
							<span class="font-weight-bold">[[${product.title}]]</span>
		        		</span>
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          			<span aria-hidden="true">&times;</span>
		        		</button>
		      		</div>
					<div class="modal-body">
				    	<form id="getProductOptionsForm" method="GET" th:action="${@environment.getProperty('url.cart.state')}"></form>
				    	<div class="container">
					    	<div class="row">
					    		<p>[[#{msg.common.selectOptions}]]</p>
					    	</div>
					    	<div class="row">
								<div class="form-check col-md-12">
  									<label for="po1" class="form-check-label">
    									<input id="po1" type="radio" class="form-check-input" name="productOption" value="1">
   										<span class="d-block">
   											<span class="row">
   												<span class="col-8">Черный</span>
   												<span class="col-4">50 Руб</span>
   											</span>
   										</span>
  									</label>
								</div>
								<div class="form-check col-md-12">
  									<label for="po2" class="form-check-label">
    									<input id="po2" type="radio" class="form-check-input" name="productOption" value="1">
   										<span class="d-block">
   											<span class="row">
   												<span class="col-8">Черный</span>
   												<span class="col-4">50 Руб</span>
   											</span>
   										</span>
  									</label>
								</div>								    	
							</div>
							<div class="row">
								<div class="product-actual-price-block d-none col-12">
									<div class="alert alert-danger">
										<span class="d-block h5">
										<span class="badge badge-danger product-price-label">
											[[#{msg.common.priceAction}]]: <span class="product-actual-price">[[${product.actualPrice}]]</span> [[#{|msg.currency.${appInfo.currency}|}]]</span>
										</span>
										<span class="d-block h6">[[#{msg.common.priceOld}]]: 
											<del><span class="product-price">[[${product.price}]]</span> [[#{|msg.currency.${appInfo.currency}|}]]</del>
										</span>
									</div>
								</div>
								<div class="product-price-block d-none col-12">
									<div class="alert alert-info">
										<span class="d-block h5">
											<span class="badge badge-info product-price-label">
												[[#{msg.common.price}]]: <span class="product-price">[[${product.price}]]</span> [[#{|msg.currency.${appInfo.currency}|}]]
											</span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<div class="container col-md-12">
	                		<div class="row">
								<div class="col-xs-12 col-md-6">
					        		<a th:href="${@environment.getProperty('url.cart')}" class="btn btn-success btn-block" th:text="#{msg.common.addToCart}">
					        			Add to cart
					        		</a>
				        		</div>
					        	<div class="col-xs-12 col-md-6">
					        		<button type="button" class="btn btn-secondary btn-block" data-dismiss="modal" th:text="#{msg.common.continueShopping}">
					        			Continue
					        		</button>
				        		</div>
				        	</div>
				        </div>
			      	</div>
		    	</div>
		  	</div>
		</div>
	</th:block>
</body>
</html>