<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<th:block th:fragment="select-product-modal">
		<div class="modal fade" id="selectProductModal" tabindex="-1" role="dialog" aria-labelledby="selectProductModalTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header alert alert-success">
		        		<span class="modal-title" id="selectProductModalTitle">
							<span class="font-weight-bold"></span>
		        		</span>
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          			<span aria-hidden="true">&times;</span>
		        		</button>
		      		</div>
					<div class="modal-body">
				    	<form id="getProductOptionsForm" method="GET" th:action="${@environment.getProperty('url.cart.state')}"></form>
				    	<div class="container">
					    	<div class="row">
					    		<p>[[#{msg.common.selectOptions}]]</p>
					    	</div>
					    	<div class="row">
				    			<div th:each="prod : ${product}" class="col-12 form-check">
  									<label th:for="${prod.key}" class="form-check-label">
    									<input th:id="${prod.key}" type="radio" class="form-check-input" name="productOption" th:value="${prod.key}">
   										<span class="d-block">
   											<span class="row">
   												<span class="col-8">
   													<span th:each="opt : ${prod.value.options}" class="d-block">[[${opt.value}]]</span>
   												</span>
   												<span class="col-4">[[${prod.value.price}]] Руб</span>
   											</span>
   										</span>
  									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<div class="container col-md-12">
	                		<div class="row">
								<div class="col-xs-12 col-md-6">
					        		<a th:href="${@environment.getProperty('url.cart')}" class="btn btn-success btn-block" th:text="#{msg.common.addToCart}">
					        			Add to cart
					        		</a>
				        		</div>
					        	<div class="col-xs-12 col-md-6">
					        		<button type="button" class="btn btn-secondary btn-block" data-dismiss="modal" th:text="#{msg.common.continueShopping}">
					        			Continue
					        		</button>
				        		</div>
				        	</div>
				        </div>
			      	</div>
		    	</div>
		  	</div>
		</div>
	</th:block>
</body>
</html>