<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/template-with-breadcrumb}">
<head>
	<title th:text="${product.tagTitle != null ? product.tagTitle : product.title}">Product title</title>
	<meta name="keywords" th:content="${product.tagKeywords}">
	<meta name="description" th:content="${product.tagDescription}">
	<meta name="product-id" th:content="${product.id}">
</head>
	<th:block layout:fragment="main-content">
		<div class="col-md-5">
			<div class="card">
				<div class="h5 text-right">
					<span th:each="label : ${product.labels}"  th:text="${label.key}"
						class="product-label badge" th:classappend="|badge-${label.value.value}|">Label</span>
				</div>
				<div id="productCarouselIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
					    <li data-target="#productCarouselIndicators" data-slide-to="0" class="active"></li>
					    <li th:each="img,iter : ${product.images}"
					    	data-target="#productCarouselIndicators" th:data-slide-to="${iter.index + 1}">
					    	<img class="d-block w-100" th:title="${product.title}" th:alt="${product.title}"
					    		th:src="@{|${@environment.getProperty('url.products-images')}/${product.id}/${img}/${product.article}-${iter.index + 1}|}">
					    
					    </li>
				  	</ol>
				  	<div class="carousel-inner">
					    <div class="carousel-item active">
					    	<img class="d-block w-100" th:title="${product.title}" th:alt="${product.title}"
					    		th:src="${product.mainImage} ? @{|${@environment.getProperty('url.products-images')}/${product.id}/${product.mainImage}/${product.article}|} : ${@environment.getProperty('url.no-image')}">
					    </div>
					    <div th:each="img,iter : ${product.images}" class="carousel-item">
					    	<img class="d-block w-100" th:title="${product.title}" th:alt="${product.title}"
					    		th:src="@{|${@environment.getProperty('url.products-images')}/${product.id}/${img}/${product.article}-${iter.index + 1}|}">
					    </div>
					</div>
					<a class="carousel-control-prev" href="#productCarouselIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    	<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#productCarouselIndicators" role="button" data-slide="next">
					    <span class="carousel-control-next-icon" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<h1 th:text="${product.title}">Title</h1>
			<div>
				<h6 th:text="|#{msg.common.productArticle}: ${product.article}|">Article</h6>
			</div>
			<div class="row">
				<th:block th:is="${product.actualPrice}">
					<div class="col-12">
						<div class="alert alert-danger">
							<span class="d-block h5">
								<span class="badge badge-danger product-price-label">
									[[#{msg.common.priceAction}]]: [[${product.actualPrice}]] [[#{|msg.currency.${appInfo.currency}|}]]</span>
								</span>
							<span class="d-block h6">[[#{msg.common.priceOld}]]: <del>[[${product.price}]] [[#{|msg.currency.${appInfo.currency}|}]]</del></span>
						</div>
					</div>
				</th:block>
				<th:block th:unless="${product.actualPrice}">
					<div class="col-md-12">
						<div class="alert alert-info">
							<span class="d-block h5">
								<span class="badge badge-info product-price-label">
									[[#{msg.common.price}]]: [[${product.price}]] [[#{|msg.currency.${appInfo.currency}|}]]
								</span>
							</span>
						</div>
					</div>
			 	</th:block>
		 	 </div>
		 	 <div class="row">
				<div th:each="ov : ${product.optionValues}" class="form-group col-md-4">
			    	<label th:for="${ov.key}"><strong th:text="${ov.key}">Option name</strong></label>
			   		<select th:data-option-name="${ov.key}" class="product-option form-control">
			   			<option th:each="v : ${ov.value}" th:value="${v.key}" th:text="${v.value}">Option value</option>
			      	</select>
		      	</div>
			</div>
			<div class="row">
				<div class="col-12">
					<p class="text-justify" th:text="${product.description}">Description</p>
				</div>
			</div>
			 <div class="row">
			 	<div class="col-md-6">
			 		<button id="addToCartButton" type="button" class="btn btn-success btn-block">
			 			<span class="fa fa-cart-plus fa-lg"></span>
			 			<span th:text="#{msg.common.addToCart}">Add to cart</span>
			 		</button>
			 	</div>
			 	<div class="col-md-6">
			 		<button id="singleClickBuyButton" type="button" class="btn btn-info btn-block">
			 			<span class="fa fa-cart-arrow-down fa-lg"></span>
			 			<span th:text="#{msg.common.singleClickBuy}">Single click buy</span>
			 		</button>
			 	</div>
			</div>
		</div>
		<div class="col-12">
			<hr/>
		</div>
		<div class="col-12">
			<th:block th:replace="pages/products/details/product-details-tab-panel :: product-details-tab-panel(product = ${product})"></th:block>
		</div>
		<th:block th:replace="pages/products/details/product-details-add-to-cart-modal :: product-details-add-to-cart-modal"></th:block>
	</th:block>	
		
	<th:block layout:fragment="page_scripts">
		<script th:inline="javascript">
			/*<![CDATA[*/
			var product = /*[[${product}]]*/ null;
			/*]]>*/
		</script>
		<script>
			function isProductMatch(optionName, optionValue) {
				var isMatched = false;
				$('select[data-option-name]').each(function() {
					if (optionName == $(this).data('option-name') && optionValue == $(this).find('option:selected').val()) {
						isMatched = true;
						return false;
					}
				});
				return isMatched;
			}
			
			function addToCard() {
				var productToAdd;
				for (productId in product.productOptions) {
				    for (optionSetIndex in product.productOptions[productId]) {
				    	if (isProductMatch(product.productOptions[productId][optionSetIndex]['key'], product.productOptions[productId][optionSetIndex]['value'])) {
				    		var productToAdd = {
				    				action: 'ADD_PRODUCT',
									entityId: productId
							};
				    	}
				    }
				}
				
				$.ajax({
					url: '[[${@environment.getProperty('url.cart.state')}]]',
				    data: JSON.stringify(productToAdd),
		        	type: 'PATCH',
		            contentType: 'application/json',
		            dataType: 'json',
		            cache: false,
		            success: function(cartState) {
		            	var optionsTitle = '';
		            	var options = [];
		            	for (optionId in cartState.value.options) {
		            		options.push(cartState.value.options[optionId]['key'] + ': ' + cartState.value.options[optionId]['value'])
		            	}
		            	if (options) {
		            		optionsTitle = ' (' + options.join('; ') + ')' 
		            	}
		            	$('#capturedProductInfo > div > .captured-product-title').text(cartState.value.title + optionsTitle)
		            	$('#capturedProductInfo > div > .captured-product-article').text(cartState.value.article)
		            	$('#capturedProductInfo > div > .captured-product-price').text(cartState.value.price.toFixed(2))
		            	$('#addToCartSuccessModal').modal("show")
		                refreshCartCount(cartState);
		            }
		        });
			}
		
			$(document).ready(function() {
				prepareAddCommentForm();
				$('#addToCartButton').click(function() {
					console.log('Add to cart button is clicked');
					addToCard();
					
				});
				$('#singleClickBuyButton').click(function() {
					console.log('Single click buy button is clicked');
				});
			});
			
			// ***** Product comment and rating ***** //
			function onProductRate(rating) {
				$('input[name="productRating"]').val(rating);
			}
			
			function onHoverRate(el) {
				var $rating = $('input[name="productRating"]');
				$rating.siblings('.fa-star').each(function() {
					if ($(this).data('rating') <= $(el).data('rating')) {
						$(this).addClass('active');
					} else {
						$(this).removeClass('active');
					}
				})
			}
			
			function onInterruptedRate() {
				var $rating = $('input[name="productRating"]');
				$rating.siblings('.fa-star').each(function() {
					if ($(this).data('rating') <= $rating.val()) {
						$(this).addClass('active');
					} else {
						$(this).removeClass('active');
					}
				})
			}
			
			function prepareAddCommentForm() {
				$('#addCommentForm').validate({
					debug: true,
					errorClass: 'invalid-feedback',
					validClass: 'valid-feedback',
					ignore: [],
					rules: {
						name: {
							required: true,
							maxlength: 32
						},
						email: {
							required: true,
							email: true,
							maxlength: 128
						},
						comment: {
							required: true,
							maxlength: 1024
						},
						productRating: {
							required: true,
							min: 1,
							max: 5
						}
					},
					messages: {
						name: {
							required: '[[#{msg.error.comment.name.required}]]',
							maxlength: '[[#{msg.error.comment.name.tooLong}]]',
						},
						email: {
							required: '[[#{msg.error.common.email.required}]]',
							email: '[[#{msg.error.common.email.invalid}]]',
							maxlength: '[[#{msg.error.common.email.tooLong}]]'
						},
						comment: {
							required: '[[#{msg.comment.comment.required}]]',
							maxlength: '[[#{msg.comment.comment.tooLong}]]'
						},
						productRating: {
							required: '[[#{msg.error.comment.rating.required}]]',
							min: '[[#{msg.error.comment.rating.invalid}]]',
							max: '[[#{msg.error.comment.rating.invalid}]]',
						}
					},
					submitHandler: function(form) {
						$.ajax({
							url: form.action,
							type: form.method,
							data: $(form).serialize(),
							success: function(response) {
								$('#addComment').collapse('hide');
								$('#productCommentZero').after(response);
								calculateRatings();
								console.log(response);
							}
						});
					},
					highlight: function(element, errorClass, validClass) {
				    	$(element.form).find("input[name=" + element.name + "]")
			      			.addClass('is-invalid').removeClass('is-valid');
				    	$(element.form).find("label[for=" + element.name + "]")
				      		.addClass('invalid-feedback');
				  	},
				  	unhighlight: function(element, errorClass, validClass) {
				  		$(element.form).find("input[name=" + element.name + "]")
		      				.removeClass('is-invalid').addClass('is-valid');
				    	$(element.form).find("label[for=" + element.name + "]")
				      		.removeClass('invalid-feedback');
				  	}
				});
			}
		</script>
	</th:block>
</body>
</html>