<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<th:block th:fragment="action">
		<div class="row mt-2 align-items-center">
			<div class="col-6 text-center">
				<div class="product-actual-price-block d-none">
					<span class="d-block h1 font-weight-bold">
						<span class="product-actual-price">[[${product.actualPrice}]]</span> [[#{|msg.currency.${appInfo.currency}|}]]
					</span>
					<span class="d-block h4">
						<del><span class="product-price">[[${product.price}]]</span> [[#{|msg.currency.${appInfo.currency}|}]]</del>
					</span>
				</div>
				<div class="product-price-block d-none col-12">
					<span class="d-block h1 font-weight-bold">
						<span class="product-price-label">
							<span class="product-price">[[${product.price}]]</span> [[#{|msg.currency.${appInfo.currency}|}]]
						</span>
					</span>
				</div>
			</div>
			<div class="col-6">
				<button id="addToCartButton" type="button" onclick="addToCart('ADD_PRODUCT', getProductId())" class="btn btn-success btn-block">
		 			<span class="fa fa-cart-plus fa-lg"></span>
		 			<span th:text="#{msg.common.addToCartSimple}">Add to cart</span>
		 		</button>
			</div>
			<div class="col-12 text-right">
				<button id="singleClickBuyButton" type="button" onclick="showQuickOrderModal()" class="btn btn-link text-success">
		 			<span class="fa fa-cart-arrow-down fa-lg"></span>
		 			<span th:text="#{msg.common.singleClickOrder}">Single click order</span>
		 		</button>
			</div>
		</div>
	</th:block>
	
	<th:block th:fragment="extra">
		<div class="row">
			<div class="col-12">
		 	 	<span class="font-weight-bold">Дополнительно можно заказать:</span>
		 	</div>
		 	<div class="col-12">
		 		<div class="list-group">
		 			<div class="list-group-item list-group-item-action border-0 p-1">
			 			<div class="form-check">
			 				<label class="form-check-label" for="extraGiftWrapper">
			 					<span class="row">
			 						<span class="col-6">
				 						<input class="form-check-input" type="checkbox" value="" id="extraGiftWrapper">
				 						<span class="font-italic">Подарочная упаковка</span>
			 						</span>
			 						<span class="col-4 font-weight-bold"> + 3 Руб.</span>
			 					</span>
						  	</label>
						</div>
		 			</div>
				 	<div class="list-group-item list-group-item-action border-0 p-1">
				 		<div class="form-check">
				 			<label class="form-check-label" for="extraFastDelivery">
			 					<span class="row">
			 						<span class="col-6">
				 						<input class="form-check-input" type="checkbox" value="" id="extraFastDelivery">
				 						<span class="font-italic">Быстрая доставка (по Минску)</span>
			 						</span>
			 						<span class="col-4 font-weight-bold"> + 2 Руб.</span>
			 					</span>
						  	</label>
						</div>
				 	</div>
				</div>
		 	</div>
		</div>
	</th:block>
	
	<th:block th:fragment="shipping">
		<div class="row">
			<div class="col-12">
		 		<span class="font-weight-bold">Доставка:</span>
		 	</div>
		 	<div class="col-12">
		 		<div class="row mt-1">
		 			<div class="col-5">
		 				<span>По Минску:</span>
		 			</div>
		 			<div class="col-7">
		 				<span>курьером(сегодня)</span>
		 			</div>
		 			<div class="offset-5 col-7">
		 				<span class="font-weight-bold">БЕСПЛАТНО</span>
		 			</div>
		 			<div class="col-5">
		 				<span>По Беларуси:</span>
		 			</div>
		 			<div class="col-7">
		 				<span>почтой (2-3 дня)</span>
		 			</div>
		 			<div class="offset-5 col-7">
		 				<span class="font-weight-bold">5 [[#{|msg.currency.${shop.currency}|}]]</span>
		 			</div>
		 			<div class="col-5"></div>
		 			<div class="col-7">
		 				<span>курьером (завтра)</span>
		 			</div>
		 			<div class="offset-5 col-7">
		 				<span class="font-weight-bold">8 [[#{|msg.currency.${shop.currency}|}]]</span>
		 			</div>
		 			<div class="col-12 small text-right">
	 					<a href="/dostavka">Подробнее о доставке</a>
	 				</div>
	 			</div>
		 	</div>
		</div>
	</th:block>
	
	<th:block th:fragment="payments">
		<div class="row">
			<div class="col-12">
		 		<span class="font-weight-bold">Принимаем к оплате:</span>
		 	</div>
		 	<div class="col-12">
		 		<div class="row pt-2">
		 			<div class="col-4">
		 				<img class="d-block w-100"
				    		th:src="@{|${@environment.getProperty('url.images')}/belcard.gif|}">
		 			</div>
		 			<div class="col-4">
		 				<img class="d-block w-100"
				    		th:src="@{|${@environment.getProperty('url.images')}/visa.gif|}">
		 			</div>
		 			<div class="col-4">
		 				<img class="d-block w-100"
				    		th:src="@{|${@environment.getProperty('url.images')}/mastercard.webp|}">
		 			</div>
		 		</div>
		 	</div>
		 	<div class="col-12 mt-4">
		 		<span class="font-weight-bold">Оплата в рассрочку:</span>
		 	</div>
		 	<div class="col-12">
		 		<div class="row pt-2">
		 			<div class="col-4 text-center">
		 				<img class="d-block w-100"
				    		th:src="@{|${@environment.getProperty('url.images')}/halva.png|}">
		 				<span>3 месяца</span>
		 			</div>
		 			<div class="col-4 text-center">
		 				<img class="d-block w-100"
				    		th:src="@{|${@environment.getProperty('url.images')}/magnit.png|}">
		 				<span>2 месяца</span>
		 			</div>
		 			<div class="col-4 text-center">
		 				<img class="d-block w-100"
				    		th:src="@{|${@environment.getProperty('url.images')}/belarusbank.png|}">
		 				<span>12 месяцев</span>
		 			</div>
		 			<div class="col-12 alert alert-warning text-center">
		 				При оплате в рассрочку скидки не распространяются!
		 			</div>
		 		</div>
		 	</div>
		 	<div class="col-12 small text-right">
		 		<a href="/oplata-i-rassrochka">Подробнее о способах оплаты</a>
		 	</div>
		</div>
	</th:block>
</body>
</html>