<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<th:block th:fragment="product-details-extra-panel">
		<div class="row">
			<button id="productDetailsDescriptionFull" class="btn btn-link mb-0"
				data-toggle="collapse"
				data-target="#productDetailsDescriptionFullContent"
				aria-expanded="false"
				aria-controls="productDetailsDescriptionFullContent">
				<span th:text="#{msg.common.description}">Description</span>
			</button>
		</div>
		<div class="row collapse" id="productDetailsDescriptionFullContent"
			aria-labelledby="productDetailsDescriptionFull"
			data-parent="#productDetailsExtraPanel">
			<div class="col-12">
				<th:block th:replace="pages/products/details/product-details-tabs :: description-full(product = ${product})"></th:block>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<hr />
			</div>
		</div>
		<div class="row">
			<button id="productDetailsAttributes" class="btn btn-link mb-0"
				data-toggle="collapse"
				data-target="#productDetailsAttributesContent"
				aria-expanded="false"
				aria-controls="productDetailsAttributesContent">
				<span th:text="#{msg.common.attributes}">Attributes</span>
			</button>
		</div>
		<div class="row collapse" id="productDetailsAttributesContent"
			aria-labelledby="productDetailsAttributes"
			data-parent="#productDetailsExtraPanel">
			<div class="col-12">
				<th:block th:replace="pages/products/details/product-details-tabs :: attributes(product = ${product})"></th:block>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<hr />
			</div>
		</div>
		<div class="row">
			<button id="productDetailsCommentsFull"
				class="btn btn-link mb-0"
				data-toggle="collapse"
				data-target="#productDetailsCommentsContent"
				aria-expanded="false"
				aria-controls="productDetailsCommentsContent">
				<span th:text="|#{msg.common.comments} (${#lists.size(product.comments)})|">Comments</span>
			</button>
		</div>
		<div class="row collapse"
			id="productDetailsCommentsContent"
			aria-labelledby="productDetailsComments"
			data-parent="#productDetailsExtraPanel">
			<div class="col-12">
				<th:block th:replace="pages/products/details/product-details-tabs :: comments(product = ${product})"></th:block>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<hr />
			</div>
		</div>
	</th:block>
</body>
</html>