<app-paginator [page]="orders"></app-paginator>
<table *ngIf="orders" class="table">
  <tr>
    <th>{{ 'common.id' | translate }}</th>
    <th>{{ 'common.phone' | translate }}</th>
    <th>{{ 'common.date' | translate }}</th>
    <th>{{ 'common.order' | translate }}</th>
    <th>{{ 'common.status' | translate }}</th>
  </tr>
  <tr *ngFor="let order of orders.content; let i = index;">
    <th>{{order.id}}</th>
    <td>{{order.phone}}</td>
    <td>{{order.date}}</td>
    <td>Order</td>
    <td>{{ 'orders.status.' + order.status | translate}}</td>
  </tr>
</table>
<app-paginator [page]="orders"></app-paginator>
