<div class="container small text-justify">
	<div class="row">
		<div class="col-12 col-sm-3 col-md-2">
			<img src="/images/24/product-image-203708790_530x-min.jpg" class="img-fluid">
		</div>
		<div class="col-12 col-sm-9 col-md-10">
			<p>
				<strong>Умные часы DZ09</strong> – стильные, многофункциональные, качественные и надежные смарт часы. Фитнес функции, большой набор различных приложений, возможность использовать часы в качестве смартфона – все это делает смарт-часы DZ09  весьма привлекательным и полезным гаджетом. 
			</p>
		</div>
	</div>
	<div class="row">
		<p>
			Многофункциональные, стильные по дизайну <strong>часы Smart Watch DZ 09</strong> используются в качестве смартфона, фитнес-браслета и электронных часов. Такие девайсы удобны и просты в управлении. Аксессуар синхронизируется со смартфоном на базе ОС Android и iOS.
		</p>
		<p>
			<strong>Умные часы DZ 09</strong> имеют корпус из прочного алюминия в четырех цветовых решениях: белый, серебристый, черный и золотистый. В верхней части корпуса располагается камера, позволяющая делать фотоснимки и видео.
		</p>
		<p>
			В универсальном девайсе <strong>Smart Watch DZ09</strong> предусмотрен слот для microSIM карты, что позволяет совершать звонки напрямую без участия смартфона, а также отвечать на СМС-сообщения. 
		</p>
	</div>
	<div class="row">
		<fieldset>
			<legend>Функциональность</legend>
			<p>Часы DZ09 поддерживают следующий набор функций:</p>
			<ul>
				<li>поддержка приложений (синхронизация со смартфоном);</li>
				<li>получение уведомлений – вызовы, СМС, социальные сети;</li>
				<li>калькулятор, календарь, будильник, диктофон;</li>
				<li>возможность разговора по громкой связи;</li>
				<li>синхронизация контактов.</li>
			</ul>
		</fieldset>
	</div>
	<div class="row">
		<p>
			Для любителей фитнеса, и тех, кто придерживается здорового образа жизни, <strong>смарт часы DZ09</strong> открывают возможности отслеживать различные параметры физической активности.
		</p>
		<p>
			<strong>Smartwatch DZ09</strong> приглянутся и тем пользователям, которые ни дня не могут прожить без музыки. Девайсы позволяют прослушивать любимые треки и смотреть видеозаписи, достаточно вставить карту памяти.
		</p>
		<p>
			Купив <strong>Smart Watch DZ09</strong>, вы никогда не потеряете свой телефон. В часах предусмотрена функция «Антивор», которая используется при потере телефона. В случае значительного удаления от смартфона, девайс оповестит вас звуковым сигналом, а также позволит быстро найти потерянный аппарат.
		</p>
	</div>
	<div class="row">
		<fieldset>
			<legend>Специальные функции:</legend>
			<div class="row">
				<div class="col-6">
					<ul class="desc-list">
                        <li>
                        	<img class="img-desc-icon img-fluid" src="/images/20/сим-mini1.png"/>
                        	Поддержка micro-SIM-карты
                        </li>
                        <li>
                        	<img class="img-desc-icon img-fluid " src="/images/16/Собственные_вызовы-min1.png"/>
                        	Телефонные звонки и SMS напрямую с часов 
                        </li>
                        <li>
                        	<img class="img-desc-icon img-fluid " src="/images/25/телефонная_книга1-min.png"/>
                        	Телефонная книга 
                        </li>
                        <li>
                        	<img class="img-desc-icon img-fluid " src="/images/35/громкая_связь-min.png"/>
                        	Громкая связь, прослушивание музыки 
                        </li>
                        <li>
                        	<img class="img-desc-icon img-fluid " src="/images/33/собственная_камера-min1.png"/>
                        	Встроенная камера
                        </li>
                        <li>
                        	<img class="img-desc-icon img-fluid " src="/images/13/аудиоплеер1-min.png"/>
                        	Управление плеером телефона
                        </li>
                        <li>
                        	<img class="img-desc-icon img-fluid " src="/images/22/уведомления_о_вызовах-min.png"/>
                        	Уведомления о вызовах
                        </li>
                        <li>
                        	<img class="img-desc-icon img-fluid " src="/images/16/соц.сети-min.png"/>
                        	Уведомления из соц.сетей
                        </li>
                        <li>
                        	<img class="img-desc-icon img-fluid " src="/images/33/калькулятор-min.png"/>
                        	Калькулятор 
                        </li>
                         <li>
                        	<img class="img-desc-icon img-fluid " src="/images/51/диктофон-mini.png"/>
                        	Диктофон 
                        </li>
                        <li>
                        	<img class="img-desc-icon img-fluid " src="/images/62/шагомер1-min.png"/>
                        	Шагомер (демо-версия)
                        </li>
                        <li>
                        	<img class="img-desc-icon img-fluid " src="/images/25/каллории-min.png"/>
                        	Счетчик калорий (демо-версия)
                        </li>
                        <li>
                        	<img class="img-desc-icon img-fluid " src="/images/1/сон-min.png"/>
                        	Мониторинг сна
                        </li>
	                </ul>
				</div>
				<div class="col-6">
					<ul class="desc-list">
                        <li>
                        	<img class="img-desc-icon img-fluid" src="/images/19/Блютуз-min.png"/>
                        	Bluetooth для синхронизации с телефоном
                        </li>
                        <li>
                        	<img class="img-desc-icon img-fluid " src="/images/9/Входящие_вызовы-min.png"/>
                        	Управление входящими и исходящими вызовами
                        </li>
                        <li>
                        	<img class="img-desc-icon img-fluid " src="/images/37/Контакты-min.png"/>
                        	Синхронизация контактов
                        </li>
                        <li>
                        	<img class="img-desc-icon img-fluid " src="/images/10/синхронизация_времени-mini.png"/>
                        	Синхронизация времени и даты 
                        </li>
                        <li>
                        	<img class="img-desc-icon img-fluid " src="/images/34/камера-min.png"/>
                        	Управление камерой телефона
                        </li>
                        <li>
                        	<img class="img-desc-icon img-fluid " src="/images/31/карта_памяти-mini.png"/>
                        	Поддержка карты памяти
                        </li>
                        <li>
                        	<img class="img-desc-icon img-fluid " src="/images/7/смс-min.png"/>
                        	Уведомления о SMS 
                        </li>
                        <li>
                        	<img class="img-desc-icon img-fluid " src="/images/5/галерея-mini.png"/>
                        	Галерея изображений
                        </li>
                        <li>
                        	<img class="img-desc-icon img-fluid " src="/images/54/календарь-min.png"/>
                        	Календарь 
                        </li>
                        <li>
                        	<img class="img-desc-icon img-fluid " src="/images/9/будильник-min.png"/>
                        	Будильник 
                        </li>
                        <li>
                        	<img class="img-desc-icon img-fluid " src="/images/7/расстояние1-min.png"/>
                       		Счетчик расстояния  (демо-версия)
                        </li>
                        <li>
                        	<img class="img-desc-icon img-fluid " src="/images/41/активность-min.png"/>
                       		Напоминание о физической активности (демо-версия)
                        </li>
                        <li>
                        	<img class="img-desc-icon img-fluid " src="/images/37/антипотеря-min.png"/>
                       		Функция "найти телефон" и "анти-потеря"
                        </li>
	                </ul>
				</div>
			</div>
		</fieldset>
	</div>
	<div class="row">
		<fieldset>
			<legend>Оформление заказа</legend>
			<p>
				Заказы принимаются круглосуточно через корзину и по телефонам с 9:00 до 21:00:
			</p>
			<p>
			<div th:each="phone : ${appInfo.phones}">
				<img class="img-responsive" th:src="@{|/images/${phone.type}.png|}" width="15" height="15">
				<span th:text="${phone.number}"></span>
			</div>
		</fieldset>
	</div>
	<div class="row">
		<fieldset>
			<legend>Оплата и доставка</legend>
			<p>
				Способы оплаты:
			</p>
			<ul>
				<li>наличными;</li>
				<li>банковской картой;</li>
				<li>онлайн-платеж на сайте.</li>
			</ul>
			<p>
				Доставка смарт часов DZ09 по Минску осуществляется бесплатно. Доставка по Беларуси: почтой – 5 руб., курьерской службой – 8 руб.
			</p>
		</fieldset>
	</div>
	<div class="row">
		<fieldset>
			<legend>Наши преимущества</legend>
			<ul>
				<li>Только <strong>оригинальные часы DZ09</strong>.</li>
				<li>Профессиональная консультация.</li>
				<li>Гарантийное обслуживание в официальном сервисном центре.</li>
				<li>Оперативная и ежедневная доставка.</li>
			</ul>
			<p>
				На <strong>умные часы Smart Watch DZ09</strong> предоставляется официальная гарантия производителя.
			</p>
			<p>
				Подробности узнавайте у наших консультантов.
			</p>
		</fieldset>
	</div>
	<hr/>
	<div class="row">
		<fieldset>
			<legend>Дополнительная информация</legend>
			<div class="row">
				<div class="col-md-4">
					<span class="d-block"><span class="font-weight-bold">Производитель: </span>WISE INTERNATIONAL GROUP LIMITED</span>
					<span class="d-block"><span class="font-weight-bold">Место-нахождения производителя: </span>Bock 4, Nanwan Str., Longgang district, Shenzhen, China</span>
					<span class="d-block"><span class="font-weight-bold">Импортеры: </span>ЧТУП "ОптКомГарант", г. Минск, ул. Скрипникоа,  14-37а, ком.3</span>
					<span class="d-block"><span class="font-weight-bold">Производитель: </span>Китай</span>
					<span class="d-block"><span class="font-weight-bold">Импортер: </span>ИП Агарак Д.Д., УНП:391229313</span>
				</div>
				<div class="col-md-8">
					<span class="d-block"><span class="font-weight-bold">Соответствует требованиям: </span>Технический регламент Таможенного союза «Электромагнитная совместимость технических средств» (ТР ТС 020/2011); Обязательное подтверждение соответствия средств связи требованиям Национальной системы подтверждения соответствия Республики Беларусь</span>
					<span class="d-block"><span class="font-weight-bold">Комплектность: </span>Смарт часы, USB-кабель для зарядки, пленочка, инструкция</span>
					<span class="d-block">
						<img class="img-desc-icon img-fluid float-left" src="/images/39/EAC.jpg"/>
						Товар подлежит обязательному подтверждению соответствия требованиям Таможенного союза «Электромагнитная совместимость технических средств» (декларация о соответствии).
					</span>
				</div>
			</div>
		</fieldset>
	</div>
	<hr/>
	<div class="row">
		<p class="small">
			Обратите внимание: характеристики и список поддерживаемых функций могут незначительно отличаться в зависимости от прошивки часов; внешний вид, цвета товара могут незначительно отличаться от фактического внешнего вида изображения товара, указанного на сайте; производитель может изменять дизайн и характеристики модели без уведомления об этом продавца. У одного и того же товара, бывает разное цветовое исполнение. Уточняйте, пожалуйста, интересующие для Вас параметры при заказе.
		</p>
	</div>
</div>