<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{mobile/layout/template}">
<head>
<title th:text="#{msg.common.cart}">Cart</title>
</head>
<body>
	<div layout:fragment="content">
		<div id="cartContent">
			<div th:replace="__|mobile/${cartStep.template}|__"></div>
		</div>
	</div>
	<th:block layout:fragment="page_scripts">
		<script>
			var cartNextUrl = '[[${@environment.getProperty('url.cart.next')}]]';
			var cartBackUrl = '[[${@environment.getProperty('url.cart.back')}]]';
			var cartStateUrl = '[[${@environment.getProperty('url.cart.state')}]]';
			var validationMessages = {
					phone: {
						required: '[[#{msg.error.contactPhoneRequired}]]',
						maxlength: '[[#{msg.error.contactPhoneIsTooLong}]]'
					},
					fullName: {
						maxlength: '[[#{msg.error.fullNameIsTooLong}]]'
					},
					shippingMethod: '[[#{msg.error.shippingMethodRequired}]]',
					paymentMethod: '[[#{msg.error.paymentMethodRequired}]]',
					email: {
						email: '[[#{msg.error.common.email.required}]]',
						maxlength: '[[#{msg.error.common.email.tooLong}]]'
					},
					address: {
						maxlength: '[[#{msg.error.addressIsTooLong}]]'
					},
					comment: {
						maxlength: '[[#{msg.error.commentIsTooLong}]]'
					}
				}
		</script>
		<script th:src="@{/js/cart/cart.js}"></script>			
	</th:block>
</body>
</html>