<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="message-subject">
	[[${shopName}]]: Новый заказ #[[${order.id}]]
</th:block>

<th:block th:fragment="message-body">
	<head>
		<title th:remove="all">Customer order report</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<style>
			table {
			    border-collapse: collapse;
			}
			table, tr {
			    border: 1px solid black;
			}
			td, th {
				padding: 8px;
				text-align: left;
			},
			div.product-title {
				text-decoration: underline;
				font-style: italic;
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		<h2>Новый заказ #[[${order.id}]]</h2>
		<h4>Контактная информация</h4>
		<table>
			<tr>
				<th>Контактный телефон</th>
				<td>[[${order.phone}]]</td>
			</tr>
			<tr th:if="${order.fullName}">
				<th>ФИО</th>
				<td>[[${order.fullName}]]</td>
			</tr>
			<tr th:if="${order.address}">
				<th>Адрес</th>
				<td>[[${order.address}]]</td>
			</tr>
			<tr th:if="${order.email}">
				<th>E-mail</th>
				<td>[[${order.email}]]</td>
			</tr>
			<tr th:if="${order.comment}">
				<th>Комментарий</th>
				<td>[[${order.comment}]]</td>
			</tr>
			<tr>
				<th>Способ оплаты</th>
				<td>[[${order.paymentMethod.name}]]</td>
			</tr>
			<tr>
				<th>Способ доставки</th>
				<td>[[${order.shippingMethod.name}]]</td>
			</tr>
		</table>
		<h4>Список товаров</h4>
		<table style="border: solid 1px">
			<tr>
				<th>№</th>
				<th>ID товара</th>
				<th>Наименование</th>
				<th>Количество и цена</th>
				<th>Полная стоимость</th>
			</tr>
			<tr th:each="item, iter : ${order.products}">
				<th>[[${iter.index + 1}]]</th>
				<td>
					[[${item.key.productId}]]
				</td>
				<td>
					<div class="product-title">[[${item.key.fullTitle}]]</div>
					<div>Article: [[${item.key.article}]]</div>
				</td>
				<td>
					[[${item.value.quantity}]] X [[${item.value.price}]] Руб.
				</td>
				<td>
					[[${item.value.totalAmount}]] Руб.
				</td>
			</tr>
			<tr>
				<td colspan="4">Итого по товарам:</td>
				<td>[[${totalProductAmount}]] Руб.</td>
			</tr>
			<tr>
				<td colspan="4">Стоимость доставки:</td>
				<td>[[${deliveryCost}]] Руб.</td>
			</tr>
			<tr>
				<td colspan="4">Итого:</td>
				<td>[[${totalAmount}]] Руб.</td>
			</tr>
		</table>
	</body>
</th:block>
</html>