<div class="card">
  <div class="card-header bg-dark text-white">
    <span>{{ "common.productAttributes" | translate }}</span>
    <button type="button" class="btn btn-dark text-warning pl-2 pt-0 pr-2 pb-0"
      title="{{'common.edit' | translate}}">
      <span class="fa fa-pencil"></span>
    </button>
  </div>
  <div class="card-body">
    <div class="container" [dragula]="GROUPS" [(dragulaModel)]="attributes">
      <div class="row border-bottom" *ngFor="let group of attributes">
        <div class="col-3">
          {{group.group}}
        </div>
        <div class="col-9" [dragula]="ATTRIBUTES" [(dragulaModel)]="group.attrs">
          <app-product-attribute *ngFor="let attr of group.attrs"
            [attribute]="attr">
          </app-product-attribute>
        </div>
      </div>
    </div>
  </div>
</div>

<table *ngIf="productArticle" class="table">
  <tr *ngFor="let attr of productArticle.booleanAttributes">
    <td>{{attr.id}}</td>
    <td>{{attr.group}}</td>
    <td>{{attr.name}}</td>
    <td>{{attr.description}}: {{attr.value}}</td>
    <td>{{attr.order}}</td>
  </tr>
  <tr *ngFor="let attr of productArticle.listAttributes">
    <td>{{attr.id}}</td>
    <td>{{attr.group}}</td>
    <td>{{attr.name}}</td>
    <td>
      <ul *ngIf="attr.value">
        <li *ngFor="let attrVal of attr.value">
          {{attrVal}}
        </li>
      </ul>
    </td>
    <td>{{attr.order}}</td>
  </tr>
  <tr *ngFor="let attr of productArticle.numericAttributes">
      <td>{{attr.id}}</td>
      <td>{{attr.group}}</td>
      <td>{{attr.name}}</td>
      <td>{{attr.value}} {{attr.unit}}</td>
      <td>{{attr.order}}</td>
    </tr>
</table>
