<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<nav th:if="${breadcrumb != null && !#lists.isEmpty(breadcrumb.links)}" aria-label="breadcrumb">
	  	<ol class="breadcrumb small">
		    <li class="breadcrumb-item">
		    	<a th:href="${@environment.getProperty('url.home')}" th:text="#{msg.menu.home}">Home</a>
		    </li>
		    <li th:each="link : ${breadcrumb.links}" class="breadcrumb-item" th:classappend="${link.active ? 'active' : ''}" th:aria-current="${link.active ? 'page' : ''}">
		    	<a th:unless="${link.active}" th:href="@{${link.url}}" th:text="${link.i18n} ? #{${link.name}} : ${link.name}">Link text</a>
		    	<strong th:if="${link.active}" th:text="${link.i18n} ? #{${link.name}} : ${link.name}">Link text</strong>
		    </li>
	  	</ol>
	</nav>
</body>
</html>