<div class="row">
  <div class="col-6">
    <button type="button" (click)="clearAll()" class="btn btn-link btn-block">
        {{'common.resetAll' | translate}}
    </button>
  </div>
  <div class="col-12">
    <div class="divider dropdown-divider"></div>
  </div>
  <div class="col-6">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" [id]="columnId + 'FromFilter'">
            {{'common.from' | translate}}
          </span>
        </div>
        <input type="text" mask="0*.00" [(ngModel)]="from" class="form-control" [attr.aria-describedby]="columnId + 'FromFilter'">
      </div>
  </div>
  <div class="col-6">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" [id]="columnId + 'ToFilter'">
              {{'common.to' | translate}}
          </span>
        </div>
        <input type="text" mask="0*.00" [(ngModel)]="to" class="form-control" [attr.aria-describedby]="columnId + 'ToFilter'">
      </div>
  </div>
  <div class="col-12">
    <div class="divider dropdown-divider"></div>
  </div>
</div>
