<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/template}">
<head>
<title th:text="#{msg.common.cart}">Cart</title>
</head>
<body>
	<div layout:fragment="content">
		<div id="cartContent">
			<div th:replace="__${cartStep.template}__"></div>
		</div>
	</div>
	<th:block layout:fragment="page_scripts">
		<script>
		    function toOrdering() {
		    	$('#cartContent').load('[[${@environment.getProperty('url.cart.next')}]]', function() {
		    		prepareForm();
		    	});
		    }
		    
		    function toEditing() {
		    	$('#cartContent').load('[[${@environment.getProperty('url.cart.back')}]]');
		    }
		    
		    function incrementCartItem(productId) {
				changeCartItemQuantity(productId, 'INCREMENT');
			}
			
			function decrementCartItem(productId) {
				changeCartItemQuantity(productId, 'DECREMENT');
			}
		    
			function changeCart(action, entityId, onsuccess) {
				$.ajax({
					url: '[[${@environment.getProperty('url.cart.state')}]]',
				    data: JSON.stringify({action: action, entityId: entityId}),
		        	type: 'PATCH',
		            contentType: 'application/json',
		            dataType: 'json',
		            cache: false,
		            success: onsuccess
		        });
			}
			
			function removeItemFromCart(productId) {
				changeCart('REMOVE_PRODUCT', productId, function(cartState) {
	            	$('tr[data-product-id="' + productId + '"]').fadeOut("normal", function() {
	            		$(this).remove();
	            		if ($('tr[data-product-id]').length <= 0) {
	            			$('#cartIsEmpty').removeClass('d-none');
	            			$('#cartItems').remove();
	            		} else {
		            		$("th[data-index]").each(function(index) {
		                		$(this).text(index + 1);
		                	})
	            		}
	            	});
	            	onCartChanges(cartState);
	            });
			}
			
			function changeCartItemQuantity(productId, action) {
				changeCart(action, productId, function(cartState) {
	            	$('tr[data-product-id="' + productId + '"] > td > span.cart-product-quantity').text(cartState.value.quantity);
	            	$('tr[data-product-id="' + productId + '"] > td > span.cart-product-item-total-amount').text(cartState.value.totalAmount.toFixed(2));
	            	onCartChanges(cartState);
	            });
			}
			
			function onCartChanges(cartState) {
				refreshCartCount(cartState);
	        	refreshCartTotalAmount(cartState);
	        	changeToOrderButtonState(cartState);
			}
			
			function changeToOrderButtonState(cartState) {
				$('#toOrderButton').prop('disabled', cartState.quantity <= 0);
			}
			
			function refreshCartTotalAmount(cartState) {
				$(".cart-product-total-amount").text(cartState.totalProductAmount.toFixed(2));
				$(".cart-shipping-cost").text(cartState.shippingCost.toFixed(2));
				$(".cart-total-amount").text(cartState.totalAmount.toFixed(2));
			}
		
			function prepareForm() {
				$('#orderDetailsPhone').mask('+375(00)000-00-00');
				
				$('input[type=radio][name=shippingMethod]').change(function() {
					changeCart('SHIPPING_METHOD', $(this).val(), function(cartState) {
		            	onCartChanges(cartState);
		            });
				});
				
				$('#submitOrderForm').validate({
					debug: true,
					errorClass: 'invalid-feedback',
					validClass: 'valid-feedback',
					rules: {
						phone: {
							required: true,
							maxlength: 20
						},
						fullName: {
							maxlength: 64
						},
						shippingMethod: 'required',
						paymentMethod: 'required',
						email: {
							email: true,
							maxlength: 128
						},
						address: {
							maxlength: 128
						},
						comment: {
							maxlength: 128
						}
					},
					messages: {
						phone: {
							required: '[[#{msg.error.contactPhoneRequired}]]',
							maxlength: '[[#{msg.error.contactPhoneIsTooLong}]]'
						},
						fullName: {
							maxlength: '[[#{msg.error.fullNameIsTooLong}]]'
						},
						shippingMethod: '[[#{msg.error.shippingMethodRequired}]]',
						paymentMethod: '[[#{msg.error.paymentMethodRequired}]]',
						email: {
							email: '[[#{msg.error.common.email.required}]]',
							maxlength: '[[#{msg.error.common.email.tooLong}]]'
						},
						address: {
							maxlength: '[[#{msg.error.addressIsTooLong}]]'
						},
						comment: {
							maxlength: '[[#{msg.error.commentIsTooLong}]]'
						}
					},
					submitHandler: function(form) {
						$.ajax({
							url: form.action,
							type: form.method,
							data: $(form).serialize(),
							success: function(response) {
								$('#cartContent').html(response);
								prepareForm();
							}
						});
					},
					highlight: function(element, errorClass, validClass) {
				    	$(element.form).find("input[name=" + element.name + "]")
			      			.addClass('is-invalid').removeClass('is-valid');
				    	$(element.form).find("label[for=" + element.name + "]")
				      		.addClass('invalid-feedback');
				  	},
				  	unhighlight: function(element, errorClass, validClass) {
				  		$(element.form).find("input[name=" + element.name + "]")
		      				.removeClass('is-invalid').addClass('is-valid');
				    	$(element.form).find("label[for=" + element.name + "]")
				      		.removeClass('invalid-feedback');
				  	}
				});
			}
			
			$(document).ready(function() {
				prepareForm();
			});
			
		</script>
	</th:block>
</body>
</html>