<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="cart-content">
		<nav aria-label="breadcrumb">
		  	<ol class="breadcrumb">
			    <li class="breadcrumb-item">
			    	<a th:href="${@environment.getProperty('url.home')}" th:text="#{msg.menu.home}">Home</a>
			    </li>
			    <li class="breadcrumb-item">
			    	<a href="#" onclick="toEditing()" th:text="#{msg.common.yourOrder}">Your oder</a>
			    </li>
			    <li class="breadcrumb-item active" aria-current="page">
			    	<strong th:text="#{msg.common.ordering}">Ordering</strong>
			    </li>
		  	</ol>
		</nav>
		<form id="submitOrderForm" th:action="${@environment.getProperty('url.cart.submit-order')}" method="POST">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6">
							<fieldset class="col-md-12">
								<legend class="h5" th:text="#{msg.common.contactInfo}">Contact info</legend>
								<div class="form-group required">
						    		<label class="control-label" for="orderDetailsPhone"><strong>[[#{msg.common.contactPhone}]]</strong></label>
						    		<input type="text" name="phone" class="form-control" id="orderDetailsPhone" aria-describedby="orderDetailsPhoneHelp" th:placeholder="#{msg.common.contactPhone}" th:value="${order.phone}">
						    		<small id="orderDetailsPhoneHelp" class="form-text text-muted" th:text="#{msg.common.examplePhone}">Example</small>
						  		</div>
						  		<div class="form-group">
						    		<label for="orderDetailsFullName"><strong>[[#{msg.common.contactPerson}]]</strong></label>
						    		<input type="text" name="fullName" class="form-control" id="orderDetailsFullName" th:placeholder="#{msg.common.contactPerson}" th:value="${order.fullName}">
						  		</div>
						  		<div class="form-group">
						    		<label for="orderDetailsAddress"><strong>[[#{msg.common.shippingAddress}]]</strong></label>
						    		<textarea name="address" class="form-control" id="orderDetailsAddress" th:placeholder="#{msg.common.shippingAddress}" th:value="${order.address}"></textarea>
						  		</div>
						  		<div class="form-group">
						    		<label for="orderDetailsEmail"><strong>[[#{msg.common.email}]]</strong></label>
						    		<input type="text" name="email" class="form-control" id="orderDetailsEmail" th:placeholder="#{msg.common.email}" th:value="${order.email}">
						  		</div>
						  		<div class="form-group">
						    		<label for="orderDetailsComment"><strong>[[#{msg.common.comment}]]</strong></label>
						    		<textarea name="comment" class="form-control" id="orderDetailsComment" th:placeholder="#{msg.common.comment}" th:value="${order.comment}"></textarea>
						  		</div>
						  	</fieldset>
						  	<div class="form-group required">
								<fieldset class="col-md-12 mt-2">
									<legend class="h5 control-label">[[#{msg.common.shipping}]]</legend>
									<label for="shippingMethod" class="is-invalid" style="display:none;"></label>
										<div th:each="sm : ${shippingMethods}" class="form-check">
										  	<input th:id="|shippingMethod${sm.id}|" class="form-check-input" type="radio" name="shippingMethod" th:value="${sm.id}" th:checked="${sm.id == order.shippingMethod?.id}">
										  	<label th:for="|shippingMethod${sm.id}|" class="form-check-label">
										  		<span class="container d-block">
										  			<span class="row">
									  					<span class="col-8 d-block">
													  		<span class="d-block"><strong th:text="${sm.name}"></strong></span>
													  		<span class="d-block"><small th:text="${sm.description}"></small></span>
										  				</span>
									  					<span class="col-4 d-block text-right">
										  					<strong>
										  						<span>+</span>
										  						<span th:text="${sm.cost}">Cost</span>
																<span th:text="#{|msg.currency.${appInfo.currency}|}">Currency</span>
															</strong>
										  				</span>
										  			</span>
									  			</span>
								  			</label>
										</div>
									</fieldset>
								</div>
							<div class="form-group required">
								<fieldset class="col-md-12 mt-4">
									<legend class="h5 control-label">[[#{msg.common.paymentMethod}]]</legend>
									<label for="paymentMethod" class="is-invalid" style="display:none;"></label>
									<div th:each="pm : ${paymentMethods}" class="form-check">
									  	<input th:id="|paymentMethod${pm.id}|" class="form-check-input" type="radio" name="paymentMethod" th:value="${pm.id}" th:checked="${pm.id == order.paymentMethod?.id}">
									  	<label th:for="|paymentMethod${pm.id}|" class="form-check-label">
									  		<span class="container d-block">
									  			<span class="row">
									  				<span class="col-md-12">
												  		<span class="d-block"><strong th:text="${pm.name}"></strong></span>
												  		<span class="d-block"><small th:text="${pm.description}"></small></span>
									  				</span>
										  		</span>
									  		</span>
									  	</label>
									</div>
								</fieldset>
							</div>
						</div>
						<div class="col-md-6">
							<fieldset class="col-md-12">
								<legend class="h5">[[#{msg.common.yourOrder}]]</legend>
								<table class="table">
									<tr th:each="product : ${order.products}" th:data-product-id=${product.key.productId}>
										<td>
											<img class="cart-image-small img-fluid img-thumbnail" th:title="${product.key.title}" th:alt="${product.key.title}"
								 				th:src="${product.key.mainImage} ? @{|${@environment.getProperty('url.products-images')}/${product.key.productArticleId}/${product.key.mainImage}/${product.key.article}|} : ${@environment.getProperty('url.no-image')}">
										</td>
										<td class="align-bottom">
											<span th:text="${product.key.fullTitle}">Title</span>
										</td>
										<td class="align-bottom text-right">
											<strong>
												<span th:text="${product.value.quantity}">Quantity</span>
												<span>X</span>
												<span th:text="${product.key.price}">Price</span>
												<span th:text="#{|msg.currency.${appInfo.currency}|}">Currency</span>
											</strong>
										</td>
									</tr>
								</table>
							</fieldset>
							<div class="col-md-12">
								<hr/>
							</div>
							<div class="col-md-12">
								<div class="row h6">
									<div class="col-6">
										<strong>[[#{msg.common.totalAmountProducts}]]: </strong>
									</div>
									<div class="col-6 text-right">
										<strong>
											<span class="cart-product-total-amount">[[${session.cartProductSum}]]</span> [[#{|msg.currency.${appInfo.currency}|}]]
										</strong>
									</div>
								</div>
								<div class="row h6">
									<div class="col-6">
										<strong>[[#{msg.common.totalAmountShipping}]]: </strong>
									</div>
									<div class="col-6 text-right">
										<strong>
											<span class="cart-shipping-price">[[${session.cartShippingCost}]]</span> [[#{|msg.currency.${appInfo.currency}|}]]
										</strong>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<hr/>
							</div>
							<div class="col-md-12">
								<div class="row h5">
									<div class="col-6">
										<strong>[[#{msg.common.total}]]: </strong>
									</div>
									<div class="col-6 text-right">
										<strong>
											<span class="cart-total-amount">[[${session.cartTotalAmount}]]</span> [[#{|msg.currency.${appInfo.currency}|}]]
										</strong>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<hr>
				</div>
				<div class="col-md-12 text-right">
					<button type="button" id="editOrderButton" onclick="toEditing()" class="btn btn-secondary">
						<span class="fa fa-edit fa-lg"></span>
			 			<span th:text="#{msg.common.editOrder}">Edit order</span>
			 		</button>
					<button type="submit" id="submitOrderButton" class="btn btn-success" th:disabled="${false}">
			 			<span class="fa fa-check fa-lg"></span>
			 			<span th:text="#{msg.common.submitOrder}">Submit order</span>
			 		</button>
		 		</div>
			</div>	
		</form>
	</div>
</body>
</html>