<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{normal/layout/template-with-breadcrumb}">
<head>
	<title>Официальная гарантия на все товары в интернет-магазине [[${shop.name}]]</title>
	<meta name="keywords" th:content="|официальная гарантия ${shop.name} качество, сервис, сертификация|">
	<meta name="description" th:content="|Обращаем ваше внимание, что все товары, продаваемые в нашем магазине официально импортированы в Республику Беларусь и имеют все необходимые документы, включая Декларации о Соответствии Таможенного союза и Декларации о Соответствии национального образца. ${shop.name}: ${shop.phonesAsLine}|">
</head>
<body>
	<div layout:fragment="main-content" class="col-12">
		<h1>Гарантия и сервис</h1>
		<div class="row">
			<div class="col-12">
				<p>Уважаемый покупатель! На все товары, представленные в нашем каталоге, действует официальная гарантия!</p>
				<p>По всем гарантийным случаям, а также по вопросам технического обслуживания просим обращаться в наш официальный сервисный центр:</p>
				<div>
					<span class="d-block font-weight-bold">ООО"Техноскай"</span>
					<img class="d-block w-25"
				    	title="Официальный сервисый центр"
				    	alt="Официальный сервисый центр"
				   		src="https://static-eu.insales.ru/files/1/2189/4245645/original/техно.png">
					<span class="d-block">г.Минск ул. Серафимовича 11-404</span>
					<span class="d-block">УНП 190929337</span>
					<span class="d-block mt-4">т/ф 298-48-37</span>
					<span class="d-block">8-(029)-53-53-000</span>
					<span class="d-block">8-(044)-53-53-000</span>
					<span class="d-block">8-(025)-53-53-000</span>
					<span class="d-block mt-4"><a href="mailto:7788295@tut.by">7788295@tut.by</a></span>
					<span class="d-block mt-4"><a href="http://tehnosky.by">http://tehnosky.by</a></span>
					<span class="d-block"><a href="www.5353.by">www.5353.by</a></span>	
				</div>
				<div>
					<p class="d-block font-weight-bold mt-4">Время работы</p>
					<span class="d-block">Понедельник-пятница:	10:00-19:00</span>
					<span class="d-block">Суббота-воскресение:	Выходной</span>
					<p class="d-block font-weight-bold mt-4">Действия покупателя при обнаружении недостатка в товаре:</p>
					<span class="d-block">- обратиться в наш официальный сервисный центр</span>
					<span class="d-block">- или связаться с нами по телефонам: [[${shop.phonesAsLine}]] или по электронной почте:  <a th:href="|mailto:${shop.email}|">[[${shop.email}]]</a></span>
				</div>
			</div>
			<div class="col-12 small mt-4">
				<p>Обращаем ваше внимание, что все товары, продаваемые в нашем магазине официально импортированы в Республику Беларусь и имеют все необходимые документы, включая Декларации о Соответствии Таможенного союза и Декларации о Соответствии национального образца.</p>
				<p>Гарантийный срок эксплуатации продукции указан в гарантийном талоне. Гарантийные обязательства начинаются с момента приобретения и распространяется на дефекты завода-изготовителя. Гарантия не распространяется на комплектность товара и естественный износ деталей в процессе эксплуатации. Комплектность проверяется в момент получения заказа. Своей подписью в Гарантийном талоне вы подтверждаете, что соглашаетесь с целостностью и комплектностью товара, а также ознакомились с гарантийными условиями  и условиями эксплуатации.</p>
				<p>
					<span class="d-block">Пожалуйста, сохраняйте гарантийный талон и подтверждающие факт приобретения документы до окончания гарантийного срока.</span>
					<span class="d-block">Без предъявления гарантийного талона гарантийный ремонт не производится.</span>
					<span class="d-block">При не полностью заполненном талоне он изымается гарантийной мастерской, а претензии по качеству товара не принимаются.</span>
				</p>
				<div class="row">
					<div class="col-12">
						<p class="font-weight-bold">Образец гарантийного талона:</p>
					</div>
					<div class="col-12 col-xs-6 col-sm-4 col-md-2">
						<img class="d-block mx-auto w-100 p-2"
					    	title="Образец гарантийного талона"
					    	alt="Образец гарантийного талона"
					   		src="https://static-eu.insales.ru/files/1/2150/4245606/original/гарантийный_талон-min.png">
					</div>
				</div>
			</div>
			<div class="col-12 text-justify small mt-4">
				<p>Гарантийный срок: 6 месяцев</p>
				<span class="d-block font-weight-bold">Гарантия действительна при соблюдении следующих условий:</span>
				<ul>
					<li>гарантийный талон правильно и четко заполнен;</li>
					<li>серийный номер и модель изделия соответствуют указанным в гарантийном талоне;</li>
					<li>соблюдены условия и правила эксплуатации устройства.</li>
				</ul>
				<p>В случае если вышеупомянутое оборудование выйдет из строя не по вине Покупателя, в течение гарантийного срока, продавец обязуется произвести ремонт или замену дефектного оборудование без дополнительной оплаты.</p>
				<p>Гарантийный ремонт и обслуживание производятся в течение 14-ти рабочих дней в сервисном центре продавца товара, только при предъявлении настоящего гарантийного талона. Гарантийный срок продлевается на время проведения ремонта.</p>
				<span class="d-block font-weight-bold">Продавец снимает с себя гарантийные обязательства в случаях:</span>
				<ul>
					<li>визуальных и скрытых механических, химических, термических и иных повреждениях устройства;</li>
					<li>выхода из строя по причинам несоблюдения правил  установки и эксплуатации оборудования;</li>
					<li>наличия следов жизнедеятельности насекомых или животных (тараканов, муравьев, мышей и т.п.), а также сильно запыленных изделий, изделий со следами окисления, следами воздействия агрессивных и влажных сред;</li>
					<li>вскрытия, ремонта или модернизации техники не уполномоченными лицами;</li>
					<li>обнаружены несанкционированные изменения конструкции, схемы или программного обеспечения (прошивки) изделия;</li>
					<li>устройство использовалось в профессиональных целях;</li>
					<li>при сбое программного обеспечения (прошивки) устройства;</li>
					<li>повреждений, вызванных несоответствием параметров питающих, телекоммуникационных или кабельных сетей Государственным стандартом и другими подобными внешними факторами;</li>
					<li>повреждений, вызванных использованием нестандартных расходных материалов, адаптеров, аксессуаров и запчастей;</li>
				</ul>
				<span class="d-block font-weight-bold">Гарантия не распространяется:</span>
				<ul>
					<li>на расходные материалы и другие узлы, имеющие естественный ограниченный период эксплуатации;</li>
					<li>на программное обеспечение (прошивку) устройства;</li>
					<li>на устройства, с истекшим гарантийным сроком.</li>
				</ul>
				<p>Во избежание недоразумений просим Вас внимательно осматривать товар при его получении, так как претензии к внешнему виду товара, его комплектности, характеристикам и свойствам Вы можете предъявлять только во время осмотра товара, при его приемке от курьера. Вы вправе потребовать от курьера проверку доставленного вам товара (внешнего вида, комплектности, работоспособности), после чего оставить свою подпись в гарантийном талоне об отсутствии претензий к изделию. Вы также имеете право отказаться от доставленного товара, если в нем обнаружен дефект. Претензии к внешнему виду, комплектации, характеристикам и свойствам товаров после заполнения гарантийного талона и отбытия курьера не принимаются.</p>
				<span class="d-block font-weight-bold">Условия процедуры возврата товара и денежных средств:</span>
				<ul>
					<li>Возврат денежных средств производится в течение 7 рабочих дней с момента возврата товара</li>
					<li>Если товар был оплачен картой через терминал, то возврат осуществляется на карту, с которой была произведена оплата.</li>
					<li>Если товар был оплачен картой через сайт, то возврат осуществляется на карту, с которой была произведена оплата, а срок поступления денежных средств на карту - от 3 до 30 дней с момента осуществления возврата Продавцом.</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>