.navbar .btn {
	margin-right: 0.5rem;
}

.navbar .btn.search {
	border-radius: 0 .25rem .25rem 0;
}

#categories-side-menu {
	top: 50px;
}

.star-rating .fa-star.active {
	color: orange;
}

.product-label {
	margin-right: 0.25rem;
  	position: relative;
    z-index: 1000;
}

.app-info.jumbotron {
	padding: 2rem;
	margin-bottom: 0.5rem;
}

@media screen and (max-width: 767px) {
    .btn {
        width: 100%;
        margin-bottom: 1em;
    }
}

.cart-image {
	max-height: 9rem;
	margin-right:0.5rem;
}

.cart-image-small {
	max-height: 5rem;
}