<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
	<header class="bg-dark">
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarCollapse" aria-controls="navbarCollapse"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" th:href="${@environment.getProperty('url.home')}" th:title="#{msg.menu.home}">
				<span class="fa fa-home fa-lg"></span>
			</a>
			<a class="menu-cart-link navbar-brand d-lg-none" th:href="${@environment.getProperty('url.cart')}" th:title="#{msg.common.cart}">
	 			<span class="fa fa-shopping-cart fa-lg"></span>
	 			<span class="cart-product-count badge badge-success" th:text="${session != null && session.cartProductCount > 0} ? ${session.cartProductCount} : ''">0</span>
	 		</a>
			<a class="navbar-brand d-lg-none" th:href="${@environment.getProperty('url.compare')}" th:title="#{msg.common.comparasion}">
	 			<span class="fa fa-columns fa-lg"></span>
	 			<span class="badge badge-success">4</span>
	 		</a>
	 		<a class="navbar-brand d-lg-none" th:href="${@environment.getProperty('url.account')}" th:title="#{msg.menu.account}">
	 			<span class="fa fa-user fa-lg"></span>
	 		</a>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" th:href="${@environment.getProperty('url.catalog')}" th:text=#{msg.menu.catalog}>Catalog</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="${@environment.getProperty('url.wholesale-trade')}" th:text="#{msg.menu.wholesaleTrade}">Wholesale trade</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="${@environment.getProperty('url.delivery')}" th:text="#{msg.menu.delivery}">Delivery</a>
					<li class="nav-item">
						<a class="nav-link" th:href="${@environment.getProperty('url.payment-and-installment')}" th:text="#{msg.menu.paymentAndInstallment}">Payment and Installment</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="${@environment.getProperty('url.contacts')}" th:text="#{msg.menu.contacts}">Contacts</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="${@environment.getProperty('url.reviews')}" th:text="#{msg.menu.reviews}">Reviews</a>
					</li>
				</ul>
				<form class="form-inline mt-2 mt-md-0">
					<a class="menu-cart-link btn btn-secondary d-none d-lg-block" th:href="${@environment.getProperty('url.cart')}" th:title="#{msg.common.cart}">
			 			<span class="fa fa-shopping-cart fa-lg"></span>
			 			<span class="cart-product-count badge badge-success" th:text="${session != null && session.cartProductCount > 0} ? ${session.cartProductCount} : ''">0</span>
			 		</a>
					<a class="btn btn-secondary d-none d-lg-block" th:href="${@environment.getProperty('url.compare')}" th:title="#{msg.common.comparasion}">
			 			<span class="fa fa-columns fa-lg"></span>
			 			<span class="badge badge-success">4</span>
			 		</a>
			 		<a class="btn btn-secondary d-none d-lg-block" th:href="${@environment.getProperty('url.account')}" th:title="#{msg.menu.account}">
			 			<span class="fa fa-user fa-lg"></span>
			 		</a>
					<div class="input-group">
					  	<input type="text" class="form-control" th:placeholder="#{msg.common.search}" aria-describedby="basic-addon2">
					  	<span class="input-group-btn">
						  	<button type="button" class="btn btn-secondary search" th:title="#{msg.common.search}">
					 			<span class="fa fa-search fa-lg"></span>
					 		</button>
      					</span>
					</div>
				</form>
			</div>
		</nav>
		<script>
			function refreshCartCount() {
				$(".cart-product-count").load('[[${@environment.getProperty('url.cart.count')}]]');
			}
		</script>
	</header>
</body>
</html>