<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
	<th:block th:fragment="header">
		<header class="fixed-top container">
			<nav class="row navbar navbar-dark bg-dark">
				<div class="col-3">
					<a class="navbar-brand" th:href="${@environment.getProperty('url.cart')}" th:title="#{msg.common.cart}">
			 			<span class="fa fa-shopping-cart fa-lg"></span>
						<span class="cart-product-count badge badge-success" th:text="${session != null && session.cartProductCount > 0} ? ${session.cartProductCount} : ''">0</span>
					</a>
				</div>
				<div class="col-6">
					<form id="searchForm" th:action="${@environment.getProperty('url.catalog.search')}" method="GET">
						<div class="input-group">
						  	<input id="quickSearchInput"
						  		name="query" type="text" class="form-control" autocomplete="off"
						  		aria-describedby="quickSearchButton"
						  		th:placeholder="#{msg.common.search}"
						  		onkeyup="doSearch(event)">
						  	<div class="input-group-append dropdown">
						    	<button id="quickSearchButton"
						    		class="btn btn-secondary mb-0"
						    		type="submit"
						    		th:title="#{msg.common.search}">
									<span class="fa fa-search fa-lg"></span>
								</button>
						  	</div>
						</div>
					</form>
				</div>
				<div class="col-3">
					<button class="navbar-toggler"
						type="button"
						data-toggle="collapse"
						data-target="#navbarCollapse"
						aria-controls="navbarCollapse"
						aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>
		 		<div class="collapse navbar-collapse navbar-collapse-mobile pt-4" id="navbarCollapse">
					<div class="navbar-nav h5 text-center">
						<div th:each="phone : ${appInfo.phones}" class="nav-item">
	        				<img class="img-responsive" th:src="@{|/images/${phone.type}.png|}" width="15" height="15">
	        				<span class="nav-link d-inline">[[${phone.number}]]</span>
	        			</div>
					</div>
					<div class="dropdown-divider"></div>
					<ul class="navbar-nav h2">
						<li class="nav-item">
							<a class="nav-link"
								id="categoriesMenuLink"
								data-toggle="collapse"
								href="#categoriesMenu"
								aria-expanded="false"
								aria-controls="categoriesMenu"
								th:text=#{msg.menu.catalog}>
								Catalog
							</a>
							<div class="collapse" id="categoriesMenu">
								<ul class="navbar-nav pl-4 pd-4">
									<li class="nav-item">
										<a class="nav-link" th:href="${@environment.getProperty('url.catalog')}">Все категории</a>
									</li>
									<li class="dropdown-divider"></li>
									<li class="nav-item" th:each="category : ${categoryList}">
										<a class="nav-link"
											th:classappend="${category.reference == selectedCategory} ? 'active' : ''"
											th:href="@{|${@environment.getProperty('url.catalog')}/${category.reference}|}"
											th:text="${category.name}">
											Category
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="dropdown-divider"></li>
						<li th:each="menuItem : ${menu}" class="nav-item">
							<a class="nav-link" th:href="${menuItem.reference}" th:text="${menuItem.title}">Menu title</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<div class="container">
			<div class="app-info-primary jumbotron">
	        	<div class="container">
					<div class="row text-center align-items-center">
						<div class="col-12">
		        			<a th:href="${@environment.getProperty('url.home')}">
			        			<img class="img-fluid img-responsive" th:src="@{/images/logo.jpg}" 
					        		th:alt="${@environment.getProperty('application.title')}"
					        		th:title="${@environment.getProperty('application.title')}">
				        	</a>
		        		</div>
		        		<div class="col-12">
		        			<span>[[${appInfo.workingDays.description}]]</span>
		        		</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>