<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
	<header class="bg-dark">
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarCollapse" aria-controls="navbarCollapse"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" th:href="${@environment.getProperty('url.home')}" th:text="#{msg.menu.home}">Home</a>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" th:href="${@environment.getProperty('url.catalog')}" th:text=#{msg.menu.catalog}>Catalog</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="${@environment.getProperty('url.wholesale-trade')}" th:text="#{msg.menu.wholesaleTrade}">Wholesale trade</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="${@environment.getProperty('url.delivery')}" th:text="#{msg.menu.delivery}">Delivery</a>
					<li class="nav-item">
						<a class="nav-link" th:href="${@environment.getProperty('url.payment-and-installment')}" th:text="#{msg.menu.paymentAndInstallment}">Payment and Installment</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="${@environment.getProperty('url.contacts')}" th:text="#{msg.menu.contacts}">Contacts</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="${@environment.getProperty('url.reviews')}" th:text="#{msg.menu.reviews}">Reviews</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="${@environment.getProperty('url.account')}" th:text="#{msg.menu.account}">Account</a>
					</li>
				</ul>
				<form class="form-inline mt-2 mt-md-0">
					<div class="input-group">
					  	<input type="text" class="form-control" th:placeholder="#{msg.menu.search}" aria-describedby="basic-addon2">
					  	<span class="input-group-btn">
        					<button class="btn btn-outline-success" id="basic-addon2" th:text="#{msg.menu.search}"></button>
      					</span>
					</div>
				</form>
			</div>
		</nav>
		
	</header>
</body>
</html>