<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE" th:text="${@environment.getProperty('application.title')}">E-Shop</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="all" th:href="@{css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{css/theme.css}" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{css/sticky-footer-navbar.css}" />
</head>
<body>
	<header th:replace="layouts/header :: header">...</header>
	 <!-- Begin page content -->
    <main role="main" class="container">
    	<div class="jumbotron">
        	<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6 text-center">
	        			<img class="img-responsive" th:src="@{images/logo.jpg}" 
			        		th:alt="${@environment.getProperty('application.title')}"
			        		th:title="${@environment.getProperty('application.title')}">
	        		</div>
	        		<div class="col-lg-4 col-md-6 text-center">
	        			<div th:each="phone : ${appInfo.phones}">
	        				<img class="img-responsive" th:src="@{|images/${phone.type}.png|}" width="15" height="15">
	        				<strong th:text="${phone.number}"></strong>
	        			</div>
	        			<div th:text="${appInfo.workingDays.description}"></div>
	        		</div>
	        		<div class="col-lg-4 hidden-md">
	        			
	        		</div>
				</div>
			</div>
		</div>
		<div layout:fragment="content">
			<h1>Static content for prototyping purposes only</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Praesent scelerisque neque neque, ac elementum quam dignissim
				interdum. Phasellus et placerat elit. Lorem ipsum dolor sit amet,
				consectetur adipiscing elit. Praesent scelerisque neque neque, ac
				elementum quam dignissim interdum. Phasellus et placerat elit.</p>
		</div>
	</main>
	<footer th:replace="layouts/footer :: footer">&copy; 2014 The Static Templates</footer>
	<script th:src="@{js/jquery.min.js}"></script>
	<script th:src="@{js/poppers.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	<script>
		/* Resize margin-bottom if footer's height is changed */
		$(document).on('pageinit', onPageResize);
		$(document).ready(function() {
			onPageResize();
			$(window).resize(onPageResize);
		});
		function onPageResize() {
			var bodyMargin = $('body').css('margin-bottom');
			var footerHeight = $('footer').height();
			if (bodyMargin + 50 != footerHeight) {
				$("body").css('margin-bottom', footerHeight + 50);
			}
		}
		
	</script>
</body>
</html>