<ng-container *ngIf="order">
  <h1>Order #{{order.id}} on {{order.date}}</h1>
  <div class="form-row">
    <div class="col-3">
      <select *ngIf="orderStatuses" appOrderStatus [orderStatus]="order.status" [(ngModel)]="order.status" class="form-control">
        <option *ngFor="let status of orderStatuses" [value]="status.value">
          {{status.name}}
        </option>
      </select>
    </div>
    <div class="col-3">
      <select *ngIf="paidStatuses" [(ngModel)]="order.paid" class="form-control">
        <option *ngFor="let status of paidStatuses" [value]="status.value">
          {{status.name}}
        </option>
      </select>
    </div>
    <div class="col-3">
      <select *ngIf="paymentMethods" [(ngModel)]="order.paymentMethodId" class="form-control">
        <option *ngFor="let pm of paymentMethods" [value]="pm.id">
          {{pm.name}}
        </option>
      </select>
    </div>
  </div>
</ng-container>
