<ng-container *ngIf="order">
  <h1>Order #{{order.id}} on {{order.date  | formatDate}}</h1>
  <div class="row">
    <div class="col-8">
      <div class="form-row">
        <div class="col-3">
          <select *ngIf="orderStatuses" class="form-control"
            appOrderStatus [orderStatus]="order.status"
            [(ngModel)]="order.status"
            (change)="updateOrder()">
            <option *ngFor="let status of orderStatuses" [value]="status.value">
              {{status.name}}
            </option>
          </select>
        </div>
        <div class="col-3">
          <select *ngIf="paidStatuses" class="form-control"
            appBooleanBadge [badgeValue]="order.paid"
            [(ngModel)]="order.paid"
            (change)="updateOrder()">
            <option *ngFor="let status of paidStatuses" [value]="status.value">
              {{status.name}}
            </option>
          </select>
        </div>
        <div class="col-3">
          <select *ngIf="paymentMethods" class="form-control"
            [(ngModel)]="order.paymentMethodId"
            (change)="updateOrder()">
            <option *ngFor="let pm of paymentMethods" [value]="pm.id">
              {{pm.name}}
            </option>
          </select>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-primary">
            <span class="fa fa-print"></span>
            <span>{{'common.print' | translate}}</span>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table table-sm table-striped table-hover">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th class="text-nowrap">{{'common.image' | translate}}</th>
                <th class="text-nowrap">{{'common.productItem' | translate}}</th>
                <th class="text-nowrap">{{'common.price' | translate}}</th>
                <th class="text-nowrap">{{'common.quantityShort' | translate}}</th>
                <th class="text-nowrap">{{'common.sum' | translate}}</th>
                <th class="text-nowrap">{{'common.action' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of order.items; let i = index">
                <th class="align-middle">{{i + 1}}</th>
                <td>
                  <img class="product-image img-fluid img-thumbnail"
                    src="{{'/images/' + item.product.productArticleId + '/' + item.product.article + '/' + item.product.mainImage}}">
                </td>
                <td class="align-middle">
                  <span class="d-block">{{item.product.fullTitle}}</span>
                  <span class="d-block font-weight-bold small">{{'common.article' | translate}}: {{item.product.article}}</span>
                </td>
                <td class="align-middle text-right text-nowrap">{{item.price}}</td>
                <td class="align-middle text-right text-nowrap">{{item.quantity}}</td>
                <td class="align-middle text-right text-nowrap">{{item.totalAmount}}</td>
                <td class="align-middle text-center">
                  <div class="btn-group btn-group-justified">
                    <ng-container *ngIf="!isItemEdited(item)">
                      <button type="button" class="btn btn-danger"
                        [disabled]="!isItemEnabled(item)"
                        [class.disabled]="!isItemEnabled(item)"
                        title="{{'common.removeOrderItem' | translate}}"
                        (click)="showRemoveOrderItemConfirmation(item)">
                        <span class="fa fa-times"></span>
                      </button>
                      <button type="button" class="btn btn-warning"
                        [class.disabled]="!isItemEnabled(item)"
                        [disabled]="!isItemEnabled(item)"
                        title="{{'common.editOrderItem' | translate}}"
                        (click)="editItem(item)">
                        <span class="fa fa-pencil"></span>
                      </button>
                    </ng-container>
                    <ng-container *ngIf="isItemEdited(item)">
                        <button type="button" class="btn btn-primary"
                          title="{{'common.save' | translate}}"
                          (click)="showUpdateOrderItemConfirmation(item)">
                          <span class="fa fa-check"></span>
                        </button>
                        <button type="button" class="btn btn-secondary"
                          title="{{'common.cancel' | translate}}"
                          (click)="cancelOrderItemEditing()">
                          <span class="fa fa-times"></span>
                        </button>
                      </ng-container>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-container>
